@model DMeServices.Models.ViewModels.CompanyViewModel
@{
    ViewBag.Title = "CompanyDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<style>
    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }
</style>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a href="#">الشركات</a>
        </li>
        <li>
            <a href="#"> تفاصيل الشركة</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">
    <div class="row">
        @using (Html.BeginForm("EditCompany", "Register", FormMethod.Post, new { encType = "multipart/form-data", @id = "Companyform" }))
        {
            @Html.AntiForgeryToken()

            <div class="box col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label">محافظة</label>
                    @Html.TextBoxFor(m => m.CompanyData.GOVERNORATE, new { @id = "GOVERNORATE", @readonly = "readonly", style = "padding:0px", @class = "form-control" })

                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">الولاية</label>
                    @Html.TextBoxFor(m => m.CompanyData.STATE, new { @id = "Welayah", @readonly = "readonly", style = "padding:0px", @class = "form-control" })
                </div>
            </div>

            <div class="box col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label">السجل التجاري</label>
                    @*<input type="text" class="form-control" id="CommercialNo" placeholder="السجل التجاري" value="1326956">*@
                    @Html.TextBoxFor(n => n.CompanyData.COMMERCIAL_NO, null, new { @class = "form-control", placeholder = "السجل التجاري", @id = "CommercialNo" })
                    @*<a class="btn btn-primary" onclick="javascript: callRestApi();"> البحث</a>*@
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> اسم الشركة</label>
                    @*<input type="text" readonly class="form-control" id="CompanyName">*@
                    @Html.TextBoxFor(n => n.CompanyData.COMMERCIAL_NAME, null, new { @readonly = "readonly", @class = "form-control", placeholder = "اسم الشركة", @id = "CompanyName" })
                </div>
            </div>

            <div class="box col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label"> الرقم المدني</label>
                    @*<input type="text" readonly class="form-control" id="CompanyName">*@
                    @Html.TextBoxFor(n => n.CompanyData.CIVIL_ID, null, new { @class = "form-control", placeholder = "الرقم المدني", @id = "CivilID" })
                    @Html.ValidationMessageFor(n => n.CompanyData.CIVIL_ID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> الاسم بالكامل</label>
                    @*<input type="text" readonly class="form-control" id="CompanyName">*@
                    @Html.TextBoxFor(n => n.CompanyData.FULL_NAME, null, new { @class = "form-control", placeholder = "الاسم بالكامل", @id = "FullName" })
                    @Html.ValidationMessageFor(n => n.CompanyData.FULL_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="box col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label"> البريد الالكتروني</label>
                    @*<input type="text" readonly class="form-control" id="CompanyName">*@
                    @Html.TextBoxFor(n => n.CompanyData.EMAIL, null, new { @class = "form-control", placeholder = "البريد الالكتروني", @id = "Email" })
                    @Html.ValidationMessageFor(n => n.CompanyData.EMAIL, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label"> رقم الهاتف</label>
                    @*<input type="text" readonly class="form-control" id="CompanyName">*@
                    @Html.TextBoxFor(n => n.CompanyData.PHONE_NO, null, new { @class = "form-control", placeholder = "رقم الهاتف", @id = "PhoneNumber" })
                    @Html.ValidationMessageFor(n => n.CompanyData.PHONE_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="box col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label"> الشكل القانوني</label>
                    @*<input type="text" readonly class="form-control" id="CompanyName">*@
                    @Html.TextBoxFor(n => n.CompanyData.LEGAL_FORM, null, new { @id = "LegalForm", @readonly = "readonly", @class = "form-control", placeholder = "الشكل القانوني" })
                </div>
            </div>

        }
        <br />
        <h5> أضافة بيانات الاستشاريين</h5>
        <br />
        <div class="form-group col-md-12">
            <div class="box-content">

                <div class="form-group col-md-4">
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Consultant.CivilId, new { id = "ConsultantCivilId", @class = "form-control", @placeholder = "برجاء ادخال الرقم المدني" })
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <a class="btn btn-primary" onclick="javascript: callRestApi();"> البحث</a>
                        </div>
                        
                        <div id="SearchLoader" class="col-md-4" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader"></div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.TextBoxFor(m => m.Consultant.FullName, new { id = "ConsultantFullName", @readonly = "readonly", @class = "form-control", @placeholder = "الاسم" })
                </div>

                <div class="form-group col-md-4">
                    @Html.TextBoxFor(m => m.Consultant.JobName, new { id = "ConsultantJobName", @readonly = "readonly", @class = "form-control", @placeholder = "الوظيفة" })
                </div>
            </div>
            <br />
            <div class="box-content">
                <div class="form-group col-md-4">
                    @Html.TextBoxFor(m => m.Consultant.JobName, new { id = "ConsultantPhoneNumber", @class = "form-control", @placeholder = "رقم الهاتف" })
                </div>

                <div class="form-group col-md-4">
                    @Html.TextBoxFor(m => m.Consultant.JobName, new { id = "ConsultantEmail", @class = "form-control", @placeholder = "البريد الالكتروني" })
                </div>

                @*<div class="form-group col-lg-3" id="divOptionalLetter12">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة المالك او الجهة المعنية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter12", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="ConsLetterFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>*@

                <div class="form-group col-md-4">
                    <div class="col-md-6"><input id="SaveWorker" name="SaveWorker" class="btn btn-primary" value="إضافة بيان" /></div>
                    <div id="AddConsLoader" class="loading col-md-6" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="divWorkers" class="row">
        @if (Model.ConsultantsList != null && Model.ConsultantsList.Count > 0)
        {
            Html.RenderPartial("_ListConsultants", Model);
        }
    </div>
    <br />
    <br />
    <div class="col-sm-6">
        <button class="btn btn-primary" id="Save" type="submit" @*onclick="return confirm('هل انت متاكد من حفظ التعديلات !');"*@>
            <i class="glyphicon glyphicon-ok"></i> حفظ
        </button>
        <a style="float:left" href="@Url.Action( "CompanyList","BuildingPermits")" class="btn btn-primary" role="button">الصفحة السابقة</a>
    </div>
</div>

<script>
    var Notify = (msg) => alert(msg);
    function EmptyTextBoxes() {
        $('#CompanyName').val('');
        $('#LegalForm').val('');
        $('#PhoneNumber').val('');
        $('#FullName').val('');
        $('#State').val('');
        $('#Governorate').val('');
        $('#Email').val('');
        $('#CivilID').val('');
    }
    //--For Pubilsh please add this in start of url string-- /EngineeringService/External
    function callRestApi() {
		$("#SearchLoader").show();
        var Comm_Val = $('#CommercialNo').val();
        var userCivilID = $('#ConsultantCivilId').val();
        var url = "/External/Register/GetEmployeeDataByCivilID/";


        $.ajax({
            url: url,
            type: "Get",
            dataType: "json",
            data: { Id: userCivilID, cr: Comm_Val },
            success: function (data) {
                if (data) {

                    if (data.Result === true) {
                        $('#ConsultantFullName').val(data.EmployeeData.EmployeeData[0].EmployeeNameArabic);
                        $('#ConsultantJobName').val(data.EmployeeData.EmployeeData[0].OccupationDescArabic);
						$("#SearchLoader").hide();
                    } else {
						$("#SearchLoader").hide();
                        Notify("not found");
                    }
                }
            },
            error: function (msg) { alert(msg); }
        });
    };

    $(document).ready(function () {

        $("#Save").click(function () {
            $("#Companyform").submit();
        });



        $("#SaveWorker").click(function () {
			$("AddConsLoader").show();
            var data = new FormData();
            data.append("ConsultantCivilId", $("#ConsultantCivilId").val());
            data.append("ConsultantFullName", $("#ConsultantFullName").val());
            data.append("ConsultantJobName", $("#ConsultantJobName").val());
            data.append("ConsultantPhoneNumber", $("#ConsultantPhoneNumber").val());
            data.append("ConsultantEmail", $("#ConsultantEmail").val());
            data.append("CommercialNo", $("#CommercialNo").val());

            var url = "@Url.Action("SaveConsultant", "Register")";
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //alert(response)
                    $('#ConsultantCivilId').val('');
                    $('#ConsultantFullName').val('');
                    $('#ConsultantJobName').val('');
                    $('#ConsultantPhoneNumber').val('');
                    $('#ConsultantEmail').val('');
                    $('#SaveWorker').attr('disabled', false);
                    $('#divWorkers').html(response);
					$("AddConsLoader").hide();
                },
                error: function (er) {
                    $('#SaveWorker').attr('disabled', false);
                    $("AddConsLoader").hide();
                }
            });
        });
    });
</script>



