@model DMeServices.Models.ViewModels.Permits.AreaSurveysViewModel
@{
    ViewBag.Title = "AreaSurveyDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}






<script>
    $(document).ready(function () {
        var counter = 0;

        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><select data-rel="chosen" style="width:75%;padding: 0px 12px;" class="form-control" name="AreaType' + counter + '"><option>منزل</option><option>فيلا</option><option>محل</option></select></td>';
            cols += '<td><input type="file" name="Attachment' + counter + '"/></td>';
            cols += '<td><textarea type="text" class="form-control" rows="1" name="phone' + counter + '"></textarea></td>';

            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="حذف"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });


        function ClearInputs() {
            debugger;
            $('#FileNotes').text('');
            $('#FileUpload').text('');

        }

    });

</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }
</style>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a href="#">تسجيل بيانات قطعة أرض</a>
        </li>
        <li>
            <a href="#"> تفاصيل قطعة الأرض</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">
    <div class="row">


        @using (Html.BeginForm("EditAreaSurvey", "IndustrialSurveys", FormMethod.Post, new { encType = "multipart/form-data", @id = "AreaSurveysform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AreaSurvey.IndustrialSurveyID)
            //@Html.HiddenFor(x => x.LandSurvey.ConsultantCivilId)
            @Html.HiddenFor(x => x.AreaSurvey.TransactNo)


            <div class="box col-md-12">
                <div class="form-group col-md-6">

                    <label class="control-label">اسم المنطقة الصناعية / التجارية</label>
                    @Html.TextBoxFor(m => m.AreaSurvey.RegionArName, new { @class = "form-control", id = "LandNo", @placeholder = "اسم المنطقة التجارية / الصناعية" })

                </div>
                <div class="form-group col-md-6">

                    <label class="control-label">الولاية</label>
                    @Html.DropDownListFor(m => m.AreaSurvey.WelayahID, (List<SelectListItem>)ViewBag.DDWelayat, new { style = "padding:0px", @class = "form-control", id = "Welayah" })

                </div>

                <div class="form-group col-md-6">

                    <label class="control-label">اسم المنطقة / القرية</label>
                    @Html.DropDownListFor(m => m.AreaSurvey.RegionID, (List<SelectListItem>)ViewBag.DDRegion, new { style = "padding:0px", @class = "form-control", id = "Region" })

                </div>

                <div class="form-group col-md-6">

                    <label class="control-label">رقم المربع</label>
                    @Html.DropDownListFor(m => m.AreaSurvey.SquareLetterID, (List<SelectListItem>)ViewBag.DDSquareLetters, new { style = "padding:0px", @class = "form-control", id = "SquareLetter" })

                </div>

                <div class="form-group col-md-6">

                    <label class="control-label">نوع المنطقة</label>
                    @Html.DropDownListFor(m => m.AreaSurvey.UseTypeID, (List<SelectListItem>)ViewBag.DDLandUseTypes, new { style = "padding:0px", @class = "form-control", id = "LandUseType" })

                </div>
                <div class="form-group col-md-6">

                    <label class="control-label">نوع المباني</label>
                    @Html.DropDownListFor(m => m.AreaSurvey.BuildingsTypeID, (List<SelectListItem>)ViewBag.DDBuildingTypes, new { style = "padding:0px", @class = "form-control", id = "BuildingType" })

                </div>
                <div class="form-group col-md-6">

                    <label class="control-label">اجمالي عدد المباني</label>
                    @Html.TextBoxFor(m => m.AreaSurvey.BuildingsCount, new { @class = "form-control", id = "BuildingsCount", @placeholder = "اجمالي عدد المباني" })

                </div>
                <div class="form-group col-md-6">

                    <label class="control-label">اجمالي عدد الشقق السكنية</label>
                    @Html.TextBoxFor(m => m.AreaSurvey.FlatsCount, new { @class = "form-control", id = "FlatsCount", @placeholder = "اجمالي عدد الشقق السكنية" })

                </div>

                <div class="form-group col-md-6">

                    <label class="control-label">اجمالي عدد المحلات التجارية</label>
                    @Html.TextBoxFor(m => m.AreaSurvey.CommercialShopsCount, new { @class = "form-control", id = "RoomsCount", @placeholder = "اجمالي عدد المحلات التجارية" })

                </div>
                <div class="form-group col-md-6">

                    <label class="control-label">اجمالي عدد المحلات الصناعية</label>
                    @Html.TextBoxFor(m => m.AreaSurvey.IndustrialShopsCount, new { @class = "form-control", id = "ShopsCount", @placeholder = "اجمالي عدد المحلات الصناعية" })


                </div>

                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <div style="margin-bottom:20px;">
                        <label class="control-label">الاحداثيات</label>
                        @Html.TextAreaFor(m => m.AreaSurvey.LocationCoordinates, new { @class = "form-control", id = "Notes", @placeholder = "الاحداثيات" })
                        @*@Html.DropDownListFor(m => m.BuildingPermits.WorkflowStatus, (List<SelectListItem>)ViewBag.DDPermitsStatus, new { @class = "dropdown-toggle", Id = "PermitsStatus" })
                    @Html.ValidationMessageFor(m => m.BuildingPermits.WorkflowStatus, "", new { @style = "color:orange;" })*@

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @*<div class="col-sm-6" style="margin-bottom:20px;">
                <label class="control-label">رأي المهندس</label>
                @Html.DropDownListFor(m => m.BuildingPermits.WorkflowStatus, (List<SelectListItem>)ViewBag.DDPermitsStatus, new { @class = "dropdown-toggle", Id = "PermitsStatus" })
                @Html.ValidationMessageFor(m => m.BuildingPermits.WorkflowStatus, "", new { @style = "color:orange;" })
                </div>*@
                <button class="btn btn-primary" id="Save" onclick="return confirm('هل انت متاكد من حفظ التعديلات !');">
                    <i class="glyphicon glyphicon-ok"></i> حفظ
                </button>
                <a style="float:left" href="@Url.Action( "Index","IndustrialSurveys")" class="btn btn-primary" role="button">الصفحة السابقة</a>
            </div>
        }

    </div>
</div>



<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Welayah").change(function () {
            $("#Region").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegions")', // Calling json method
                dataType: 'json',
                data: { id: $("#Welayah").val() },
                // Get Selected Country ID.
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#Region").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>





<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();

        // Initalize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.

        $('body').on('click', '.modal-link', function (e) {

            $(this).attr('data-target', '#MainModal');
            $(this).attr('data-toggle', 'modal');
        });


        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {

            $('#MainModal').modal('hide');
        });

        //clear modal cache, so that new content can be loaded
        $('#MainModal').on('hidden.bs.modal', function () {

            $(this).removeData('bs.modal');
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>
