@model DMeServices.Models.ViewModels.Internal.Permits.PermitsViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<div class="box col-lg-6">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-edit"></i> تراخيص البناء</h2>
        </div>
        <div class="box-content">
            <!--item details-->
            <div class="">
                <table id="myTable" class=" table order-list">
                    <thead>
                        <tr>
                            <td>نوع المرفق</td>
                            <td>تاريخ الاضافة</td>
                            <td>تم الاصدار بواسطة</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListOfAttachments != null)
                        {
                            foreach (var item in Model.ListOfAttachments)
                            {
                                if (item.AttachmentTypeId == 30)
                                {
                                    <tr>
                                        <td class="col-sm-2" style="width:10%;">
                                            @DMeServices.Models.Common.BuildingServices.AttachmentTypesCom.TypeByID((int)@item.AttachmentTypeId).Name
                                        </td>
                                        <td class="col-sm-3" unprintable>
                                            @item.InsertDate.ToString("yyyy/MM/dd-HH:mm")
                                        </td>
                                        <td class="col-sm-3" unprintable>
                                            @item.CreatedBy
                                        </td>
                                        <td class="col-sm-2" unprintable>
                                            <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "BuildingPermits", @Id = item.Id })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>
                                        </td>
                                        <td class="col-sm-2" unprintable>
                                            <a class="modal-link" href="@Url.Action("EditPDFFile", new { @controller = "BuildingPermits", @Id = item.Id, @PirmID = Model.BuildingPermits.Id })">تعديل الملف<i class="fa fa-eye-slash"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        @if (Model.ListOfAttachments != null)
                        {
                            Model.ListOfAttachmentDetails = new List<DMeServices.Models.BuildingServices.PermitsAttachmentDetails>();
                            foreach (var att in Model.ListOfAttachments)
                            {
                                if (att.AttachmentTypeId > 4 && att.AttachmentTypeId < 15)
                                {
                                    DMeServices.Models.BuildingServices.PermitsAttachmentDetails _PrintedMap = DMeServices.Models.Common.BuildingServices.PermitsAttachmentsCom.MapStampedInAttachmentDetails((int)att.Id);
                                    if (_PrintedMap != null)
                                    {
                                        Model.ListOfAttachmentDetails.Add(_PrintedMap);
                                    }
                                }
                            }
                            if (Model.ListOfAttachmentDetails != null && Model.ListOfAttachmentDetails.Count > 0)
                            {
                                foreach (var item in Model.ListOfAttachmentDetails)
                                {
                                    string TypeName = DMeServices.Models.Common.BuildingServices.AttachmentTypesCom.TypeByID((int)@item.AttachmentTypeId).Name;
                                    <tr>
                                        <td class="col-sm-2" style="width:10%;">
                                            @TypeName
                                        </td>
                                        <td class="col-sm-3" unprintable>
                                            @item.InsertDate.ToString("yyyy/MM/dd-HH:mm")
                                        </td>
                                        <td class="col-sm-3" unprintable>
                                            @item.CreatedBy
                                        </td>
                                        <td class="col-sm-2" unprintable>
                                            <a class="modal-link" href="@Url.Action("GetDetailsFile", new { @controller = "BuildingPermits", @Id = item.Id })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" style="text-align:center;"></td>
                        </tr>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
            <!--end of item details-->
        </div>
    </div>
</div>