@model DMeServices.Models.ViewModels.Internal.Permits.PermitsViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-edit"></i> اذن توريد</h2>
    </div>
    <div class="box-content">
        <!--item details-->
        <div class="">
            <table id="myTable" class=" table order-list">
                <thead>
                    <tr>
                        <td>التفاصيل</td>
                        <td>الرسوم</td>
                        <td>المساحة</td>
                        <td>المبلغ الكلي</td>
                        <td>ملاحظات</td>

                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListOfAttachments != null)
                    {
                        //int i = 0;
                        foreach (var item in Model.ListOfAttachments)
                        {
                            if (item.AttachmentTypeId <= 3)
                            {

                                <tr>
                                    <td class="col-sm-1" style="width:10%;">
                                        @DMeServices.Models.Common.BuildingServices.AttachmentTypesCom.TypeByID((int)@item.AttachmentTypeId).Name

                                    </td>

                                    <td class="col-sm-1" unprintable>

                                        @item.InsertDate.ToShortDateString()

                                    </td>

                                    <td class="col-sm-1" unprintable>

                                        @item.InsertDate.ToShortTimeString()

                                    </td>
                                    <td class="col-sm-1" unprintable>



                                        <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "BuildingPermits", @Id = item.Id })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>

                                    </td>
                                </tr>
                            }

                        }
                        //i++;
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" style="text-align:center;"></td>
                    </tr>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <!--end of item details-->
    </div>
</div>

<br />
<div id="divMapAttachments">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-edit"></i> الخرائط</h2>
        </div>
        <div class="box-content">
            <!--item details-->
            <div class="">
                <table id="myTable" class=" table order-list">
                    <thead>
                        <tr>
                            <td>نوع المرفق</td>
                            <td>الملاحظات</td>
                            <td>تاريخ الاضافة</td>
                            <td>وقت الاضافة</td>
                            <td>حالة الملف</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListOfAttachments != null)
                        {

                            foreach (var item in Model.ListOfAttachments)
                            {
                                if (item.AttachmentTypeId > 3)
                                {
                                    <tr>
                                        <td class="col-sm-1" style="width:10%;">
                                            @DMeServices.Models.Common.BuildingServices.AttachmentTypesCom.TypeByID((int)@item.AttachmentTypeId).Name

                                        </td>
                                        <td class="col-sm-1" style="width:5%;">
                                            @item.Description
                                        </td>
                                        <td class="col-sm-1" unprintable>

                                            @item.InsertDate.ToShortDateString()

                                        </td>

                                        <td class="col-sm-1" unprintable>

                                            @item.InsertDate.ToShortTimeString()

                                        </td>

                                        @if (item.UpdatedOn != null)
                                        {
                                            <td class="col-sm-1" unprintable>   <p><font color="red">ملف سابق</font></p> </td>
                                        }
                                        else
                                        {
                                            <td class="col-sm-1" unprintable>    <p><font color="green">ملف جديد</font></p> </td>


                                        }


                                        <td class="col-sm-1" unprintable>
                                            <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "BuildingPermits", @Id = item.Id })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>

                                        </td>
                                        @if (Model.oEmployeeInfo.IsEngineer == true)
                                        {
                                            <td class="col-sm-1" unprintable>
                                                @{

                                                    int ListDetails = DMeServices.Models.Common.BuildingServices.PermitsAttachmentsCom.AttachmentsDetailsByAttachmentsID((int)item.Id).Count();

                                                    if (item.UpdatedOn != null)
                                                    {
                                                        if (ListDetails > 0)
                                                        {
                                                            <a href="#" style="color:darkgreen" fileID="@item.Id" class="GetDetails">عرض تفاصيل الخريطة<i class="fa fa-eye-slash glyphicon glyphicon-collapse-down"></i></a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a class="modal-link" href="@Url.Action("EditPDFFile", new { @controller = "BuildingPermits", @Id = item.Id, @PirmID = Model.BuildingPermits.Id })">تعديل الملف<i class="fa fa-eye-slash"></i></a>
                                                        @*<a class="modal-link" href="@Url.Action("EditPDFFile", new { @controller = "BuildingPermits" })">تعديل الملف<i class="fa fa-eye-slash"></i></a>*@
                                                        }
                                                }

                                            </td>
                                            <td class="col-sm-1" unprintable>
                                                @if (item.UpdatedOn == null)
                                                {
                                                    if (ListDetails > 0)
                                                    {
                                                        <a href="#" fileID="@item.Id" class="GetDetails">عرض تفاصيل الخريطة<i class="fa fa-eye-slash glyphicon glyphicon-collapse-down"></i></a>
                                                    }
                                                }
                                            </td>




                                        }

                                    </tr>

                                }
                                //i++;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" style="text-align:center;"></td>
                        </tr>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
            <!--end of item details-->
        </div>
    </div>
</div>
<br />
<div id="divAttachmentsDetails">
    @{ Html.RenderPartial("_ListAttachmentsDetails", Model);}
</div>



<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">





        </div>
    </div>
</div>









<script type="text/javascript">
    function unloadModal() {
        $('#MainModal').modal('hide');
    }
</script>

<script>


    $(document).ready(function () {
        $("#divAttachmentsDetails").css("display", "none");

        $(".GetDetails").click(function () {
            if ($('#divAttachmentsDetails').css('display') == 'block') {
                $("#divAttachmentsDetails").css("display", "none");
            } else {


                var attID = $(this).attr("fileID");

                var url = "@Url.Action("SelectAttachmentDetails", "BuildingPermits")";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { Id: attID },
                    success: function (response) {
                        $("#divAttachmentsDetails").css("display", "block");
                        $('#divAttachmentsDetails').html(response);
                    },
                    error: function (er) {
                        swal(er);
                    }

                });

            }
            });



    });
</script>
<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();

        // Initalize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.

        $('body').on('click', '.modal-link', function (e) {

            $(this).attr('data-target', '#MainModal');
            e.preventDefault();
            $("iframe").attr("src", $(this).attr('href'));
            $(this).attr('data-toggle', 'modal');
        });


        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {

            $('#MainModal').modal('hide');

        });

        //clear modal cache, so that new content can be loaded
        $('#MainModal').on('hidden.bs.modal', function () {

            $(this).removeData('bs.modal');
        });









        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>



