@model DMeServices.Models.ViewModels.Internal.Permits.PermitsViewModel
@{
    ViewBag.Title = "NewPayment";
    Layout = "~/Views/Shared/_SubLayout.cshtml";

}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a href="@Url.Action("Index","BuildingPermits")">تصاريح البناء</a>
        </li>
        <li>
            <a href="#"> تفاصيل تصريح البناء</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">

    <div class="row">

        @using (Html.BeginForm("SavePermitsFees", "BuildingPermits", FormMethod.Post, new { encType = "multipart/form-data", @id = "Permitsform" }))
        {
            var Welayah = DMeServices.Models.Common.BuildingServices.WelayatCom.WelayahByID((int)Model.BuildingPermits.WelayahID);
            var Region = DMeServices.Models.Common.BuildingServices.RegionsCom.RegionByID((int)Model.BuildingPermits.RegionID);
            var SquarLetter = DMeServices.Models.Common.BuildingServices.SquareLettersCom.SquareLetterByID((int)Model.BuildingPermits.SquareLetterID);
            var LandUse = DMeServices.Models.Common.BuildingServices.LandUseTypesCom.LandUseTypesByID((int)Model.BuildingPermits.UseTypeID);
            var BuildingType = DMeServices.Models.Common.BuildingServices.BuildingTypesCom.BuildingTypesByID((int)Model.BuildingPermits.BuildingTypeID);
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.BuildingPermits.Id)
            @Html.HiddenFor(x => x.BuildingPermits.ConsultantCivilId)
            @Html.HiddenFor(x => x.BuildingPermits.TransactNo)

            <div class="row">
                <div class="form-group col-md-12">
                    <h5>بيانات مكان قطعة الأرض</h5>
                    <div class="form-group col-md-4">

                        <label class="control-label">محافظة</label>
                        <input class="form-control" placeholder="ظفار" readonly="readonly" />

                    </div>
                    <div class="form-group col-md-4">

                        <label class="control-label">الولاية</label>
                        <label class="form-control" readonly="readonly">@Welayah.WelyahArName</label>
                    </div>

                    <div class="form-group col-md-4">

                        <label class="control-label">اسم المنطقة / القرية</label>
                        <label class="form-control" readonly="readonly">@Region.RegionArName</label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <h5>بيانات قطعة الأرض</h5>
                    <div class="form-group col-md-4">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.SquareLetterID)</label>
                        <label class="form-control" readonly="readonly">@SquarLetter.ArLetter</label>
                    </div>
                    <div class="form-group col-md-4">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DistrictNo)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.DistrictNo, new { @readonly = "readonly", @class = "form-control", id = "DistrictNo", @placeholder = "رقم القطعة" })

                    </div>
                </div>
                <div class="form-group col-md-12">
                    <h5>بيانات ترخيص البناء</h5>
                    @if (Model.BuildingPermits.ConstructedArea != null)
                    {
                        <div class="form-group col-md-3">

                            <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructedArea)</label>
                            @Html.TextBoxFor(m => m.BuildingPermits.ConstructedArea, new { @readonly = "readonly", @class = "form-control", id = "ConstructedArea", @placeholder = "المساحة المراد بنائها" })

                        </div>
                    }

                    <div class="form-group col-md-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.UseTypeID)</label>
                        <label class="form-control" readonly="readonly">@LandUse.UseType</label>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">نوع المبنى</label>
                        <label class="form-control" readonly="readonly">@BuildingType.BuildingType</label>
                    </div>
                    @if (Model.BuildingPermits.NumberOfFloors != null)
                    {
                        <div class="form-group col-md-3">
                            <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.NumberOfFloors)</label>
                            @Html.TextBoxFor(m => m.BuildingPermits.NumberOfFloors, new { @class = "form-control", @readonly = "readonly", id = "NumberOfFloors", @placeholder = "عدد الطوابق المراد بنائها" })
                        </div>
                    }
                </div>
            </div>
            <br />
            <h5> أضافة التفاصيل</h5>
            <br />
            <label class="control-label">تفاصيل الخدمة</label>
            <div class="row">
                <div id="FileBrowse" class="form-group col-md-12">
                    <div class="form-group col-md-2">
                        @Html.DropDownListFor(s => s.ServiceID, (List<SelectListItem>)ViewBag.DDServices, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "ServiceID" })
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(m => m.Fees, new { @class = "form-control", @id = "Fees", @placeholder = "الرسوم" })
                    </div>
                    <div class="col-md-2" id="divFristFloor">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "fristFloor", @placeholder = "مساحة الطابق الأول" })
                    </div>
                    <div class="col-md-2" id="divLastFloor">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "lastFloor", @placeholder = "مساحة الطابق الأخير" })
                    </div>
                    <div class="col-md-1" id="divExFloor">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "exFloor", @placeholder = "مساحة الملحق" })
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "Quantity", @placeholder = "المساحة" })
                    </div>
                    <div class="col-md-1" id="divCount">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "Count", @placeholder = "عدد الطوابق" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Total, new { @class = "form-control", @id = "Total", @placeholder = "المبلغ" })
                    </div>
                    <div class="col-md-1">
                        <input type="submit" id="SaveFees" name="SaveFees" class="btn btn-success" value="إضافة تفاصيل" />
                    </div>
                </div>
                <div class="row">
                    <div class="box col-md-6">
                        <div id="divPayments" class="row">
                            @{ Html.RenderPartial("_ListPayments", Model);}
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <br />
                <div class="row">
                    <button class="btn btn-primary" id="Save">
                        <i class="glyphicon glyphicon-ok"></i> حفظ
                    </button>
                    <a style="float:left" href="@Url.Action( "Index","BuildingPermits")" onclick="return Loading();" class="btn btn-primary" role="button">الصفحة السابقة</a>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#Quantity,#Fees").keyup(function (e) {
            var q = $("#Quantity").val();
            var p = $("#Fees").val();
            var result = "";
            if (q !== "" && p !== "" && $.isNumeric(q) && $.isNumeric(p)) {
                result = parseFloat(q) * parseFloat(p);
            }
            $("#Total").val(parseFloat(+result).toFixed(3));
        });
    });
    $("#Save").click(function () {
        Loading();
        $('#Permitsform').submit();
    });
</script>
<script>
    $(document).ready(function () {
        $("#divFristFloor").hide();
        $("#divLastFloor").hide();
        $("#divCount").hide();
        $("#divExFloor").hide();
        $("#ServiceID").change(function () {
        var feesValue = $("#ServiceID").val();

            if (feesValue == "6" || feesValue == "7" || feesValue == "24" || feesValue == "25") {


                if (feesValue == "6") {
                    $("#divFristFloor").show();
                    $("#divLastFloor").hide();
                    $("#divExFloor").hide();
                    $("#divCount").hide();
                    $("#fristFloor").keyup(function () {
                        let space = parseInt($("#fristFloor").val()) * 0.25;
                        $("#Quantity").val(parseFloat(+space).toFixed(2));
                        var q = $("#Quantity").val();
                        var p = $("#Fees").val();
                        var result = "";

                        if (q !== "" && p !== "" && $.isNumeric(q) && $.isNumeric(p)) {
                            result = parseFloat(q) * parseFloat(p);
                        }
                        $("#Total").val(parseFloat(+result).toFixed(3));
                        $('#SaveFees').attr('disabled', false);
                    })
                } else if (feesValue == "7") {
                    $("#divFristFloor").hide();
                    $("#divLastFloor").show();
                    $("#divExFloor").show();
                    $("#divCount").hide();
                    $("#exFloor,#lastFloor").keyup(function () {
                        let space = parseFloat($("#exFloor").val()) - parseInt($("#lastFloor").val()) * 0.25;
                        if (space < 0 || isNaN(space)) {
                            space = 0;
                        }
                        $("#Quantity").val(parseFloat(+space).toFixed(2));
                        var q = $("#Quantity").val();
                        var p = $("#Fees").val();
                        var result = "";

                        if (q !== "" && p !== "" && $.isNumeric(q) && $.isNumeric(p)) {
                            result = parseFloat(q) * parseFloat(p);
                        }
                        $("#Total").val(parseFloat(+result).toFixed(3));
                        $('#SaveFees').attr('disabled', false);
                    })
                } else if (feesValue == "24") {
                    $("#divFristFloor").show();
                    $("#divLastFloor").show();
                    $("#divExFloor").show();
                    $("#divCount").hide();
                    $("#fristFloor").keyup(function () {
                        let space = parseInt($("#fristFloor").val()) * 0.5;
                        if (space < 0) {
                            space = 0;
                        }
                        $("#Quantity").val(parseFloat(+space).toFixed(2));
                        var q = $("#Quantity").val();
                        var p = $("#Fees").val();
                        var result = "";

                        if (q !== "" && p !== "" && $.isNumeric(q) && $.isNumeric(p)) {
                            result = parseFloat(q) * parseFloat(p);
                        }
                        $("#Total").val(parseFloat(+result).toFixed(3));
                        $('#SaveFees').attr('disabled', false);
                    })
                } else if (feesValue == "25") {
                    $("#divFristFloor").hide();
                    $("#divLastFloor").show();
                    $("#divExFloor").show();
                    $("#divCount").hide();
                    $("#exFloor,#lastFloor").keyup(function () {
                        let space = parseFloat($("#exFloor").val()) - parseInt($("#lastFloor").val()) * 0.5;
                        if (space < 0 || isNaN(space)) {
                            space = 0;
                        }
                        $("#Quantity").val(parseFloat(+space).toFixed(2));
                        var q = $("#Quantity").val();
                        var p = $("#Fees").val();
                        var result = "";

                        if (q !== "" && p !== "" && $.isNumeric(q) && $.isNumeric(p)) {
                            result = parseFloat(q) * parseFloat(p);
                        }
                        $("#Total").val(parseFloat(+result).toFixed(3));
                        $('#SaveFees').attr('disabled', false);
                    })
                }
            }
            else if (feesValue == "5") {
                $("#divFristFloor").hide();
                $("#divLastFloor").hide();
                $("#divExFloor").hide();
                $("#divCount").show();
                $("#Quantity,#Count").keyup(function () {
                    var q = $("#Quantity").val();
                    var p = $("#Fees").val();
                    var c = $("#Count").val();
                    var result = "";

                    if (q !== "" && p !== "" && c !== "" && $.isNumeric(q) && $.isNumeric(p) && $.isNumeric(c)) {
                        result = parseFloat(q) * parseFloat(p) * parseFloat(c);
                    }
                    $("#Total").val(parseFloat(+result).toFixed(3));
                    $('#SaveFees').attr('disabled', false);
                })
            }
            else {
                $("#divFristFloor").hide();
                $("#divLastFloor").hide();
                $("#divCount").hide();
                $("#divExFloor").hide();
                //$("#fristFloor").attr('display', 'none');
                //$("#lastFloor").attr('display', 'none');
                $('#SaveFees').attr('disabled', true);
            }
            $("#Fees").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFees")', // Calling json method
                dataType: 'json',
                data: { id: $("#ServiceID").val() },
                // Get Selected Country ID.
                success: function (response) {

                    $("#Fees").val(response);

                },
                error: function (ex) {
                    console.log(ex.message)
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $('#SaveFees').attr('disabled', true);
        $("#ServiceID option[value='0']").attr("disabled", "disabled");
        $("#ServiceID option[value='17']").hide();
        $("#ServiceID option[value='18']").hide();
        //var total = $("#Total").val();
        //if (total != "المبلغ") {
        //    $('#SaveFees').attr('disabled', false);
        //}
        $("#Quantity").on('change', (function () {
            var totalSpace = $("#Quantity").val();
                if (totalSpace > 0) {
                    var total = $("#Total").val();
                    if (total >= 0) {
                        $('#SaveFees').attr('disabled', false);
                    }
                }
                else {
                    $('#SaveFees').attr('disabled', true);
                }
        })
            )
        $("#SaveFees").click(function () {
            Loading();
            var data = new FormData();
            var total = $("#Total").val();
            if (total >= 0) {
                data.append("ServiceID", $("#ServiceID").val());
                data.append("Fees", $("#Fees").val());
                data.append("Quantity", $("#Quantity").val());
                data.append("Total", $("#Total").val());

            }
            var url = "@Url.Action("SavePayment", "BuildingPermits")";
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                async: false,
                success: function (response) {
                    if (response != "") {
                        $('#divPayments').html(response);
                    }
                    $('#Fees').val('');
                    $('#ServiceID').val('0');
                    $('#Quantity').val('');
                    $('#Total').val('');
                    $("#fristFloor").val('');
                    $("#lastFloor").val('');
                    $("#Count").val('');
                    $("#exFloor").val('');

                    $('#SaveFees').attr('disabled', true);
                },
                error: function (er) {
                    console.log(er.message);
                    $('#SaveFees').attr('disabled', true);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        var array1 = ["0", "17", "21"];
        var array2 = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "18", "22", "23", "24", "25"];

        function hideOptions(array) {
            for (var i = 0; i < array.length; i++) {
                $('#ServiceID option[value="' + array[i] + '"]').hide();
            }
        }

        function showOptions(array) {
            for (var i = 0; i < array.length; i++) {
                $('#ServiceID option[value="' + array[i] + '"]').show();
            }
        }
        showOptions(array2);
        hideOptions(array1);

        $("#PermitsStatus option[value='0']").attr("disabled", "disabled");

        //$("#Save").click(function () {
        //    Loading();
        //    $("#Supervisionform").submit();
        //});
    });
</script>