
@{
    ViewBag.Title = "PermitPaymentDetails";
}

@model DMeServices.Models.ViewModels.Internal.Permits.PermitsViewModel
@{
    ViewBag.Title = "NewPayment";
    Layout = "~/Views/Shared/_SubLayout.cshtml";

}






<script>
    $(document).ready(function () {
        $("#btnGenerateReport").click(function () {

            ReportManager.GenerateReport();

        });
    });
    var ReportManager = {
        GenerateReport: function () {

            var jsonParam = "";
            var serviceUrl = "../../Home/GetReport";
            ReportManager.GetReport(serviceUrl, jsonParam, onFailed);

            function onFailed(error) {
                alert(error);
            }
        },
        GetReport: function (serviceUrl, jsonParam, errorCallBack) {

            jQuery.ajax({
                url: serviceUrl,
                async: false,
                type: "POST",
                data: "{" + jsonParam + "}",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.open('../../Reports/ReportViewer.aspx', 'newtab');
                },
                error: errorCallBack
            });
        }
    };
    var ReportHelper = {

    };
</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }
</style>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a href="@Url.Action("Index","BuildingPermits")">تصاريح البناء</a>
        </li>
        <li>
            <a href="#"> تفاصيل تصريح البناء</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">

    <div class="row">

        @using (Html.BeginForm("SaveEngineerPermits", "BuildingPermits", FormMethod.Post, new { encType = "multipart/form-data", @id = "Permitsform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.BuildingPermits.Id)
            @Html.HiddenFor(x => x.BuildingPermits.ConsultantCivilId)
            @Html.HiddenFor(x => x.BuildingPermits.TransactNo)


            <div class="row">
                <div class="box col-md-12">
                    <h5>بيانات مكان قطعة الأرض</h5>
                    <div class="form-group col-md-6">

                        <label class="control-label">محافظة</label>
                        <input class="form-control" placeholder="ظفار" readonly="readonly" />

                    </div>
                    <div class="form-group col-md-6">

                        <label class="control-label">الولاية</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.WelayahID, (List<SelectListItem>)ViewBag.DDWelayat, new { style = "padding:0px", @class = "form-control", id = "Welayah" })

                    </div>

                    <div class="form-group col-md-6">

                        <label class="control-label">اسم المنطقة / القرية</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.RegionID, (List<SelectListItem>)ViewBag.DDRegion, new { style = "padding:0px", @class = "form-control", id = "Region" })

                    </div>
                </div>
                <div class="form-group col-md-12">
                    <h5>بيانات مالك الارض</h5>
                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerName)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.OwnerName, new { @readonly = "readonly", @class = "form-control", id = "OwnerName", @placeholder = "إسم المالك" })

                    </div>
                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerCivilId)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.OwnerCivilId, new { @readonly = "readonly", @class = "form-control", id = "OwnerCivilId", @placeholder = "الرقم المدني للمالك" })

                    </div>
                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerPhoneNo)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.OwnerPhoneNo, new { @readonly = "readonly", @class = "form-control", id = "OwnerPhoneNo", @placeholder = "الهاتف" })

                    </div>
                    @*<div class="form-group col-md-6">

                        <label class="control-label"> @Html.DisplayNameFor(m => m.BuildingPermits.DistrictName)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.DistrictName, new { @readonly = "readonly", @class = "form-control", id = "DistrictName", @placeholder = "المنطقة" })

                    </div>*@
                </div>
                <div class="form-group col-md-12">
                    <h5>بيانات قطعة الأرض</h5>
                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.SquareArea)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.SquareLetterID, (List<SelectListItem>)ViewBag.DDSquareLetters, new { style = "padding:0px", @class = "form-control", id = "SquareLetter" })


                        @*@Html.TextBoxFor(m => m.BuildingPermits.SquareArea, new { @readonly = "readonly", @class = "form-control", id = "SquareArea", @placeholder = "المربع" })*@

                    </div>
                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DistrictNo)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.DistrictNo, new { @readonly = "readonly", @class = "form-control", id = "DistrictNo", @placeholder = "رقم القطعة" })

                    </div>
                </div>
                <div class="form-group col-md-12">
                    <h5>بيانات ترخيص البناء</h5>
                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LicenseNo)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.LicenseNo, new { @class = "form-control", id = "LicenseNo", @placeholder = "رقم الترخيص" })

                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.KrokiNO)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingPermits.KrokiNO, new { @class = "form-control", id = "KrokiNO", @placeholder = "رقم الكروكي" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.KrokiNO, "", new { @style = "color:orange;" })
                    </div>

                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructedArea)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.ConstructedArea, new { @readonly = "readonly", @class = "form-control", id = "ConstructedArea", @placeholder = "المساحة المراد بنائها" })

                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.ConstructionType)
                        </label>
                        @Html.DropDownList("DDLandUseTypes", (List<SelectListItem>)ViewBag.DDLandUseTypes, new { style = "padding:0px", @class = "form-control" })
                        @*@Html.TextBoxFor(m => m.BuildingPermits.ConstructionType, new { @class = "form-control", id = "ConstructionType", @placeholder = "نوع البناء" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.ConstructionType, "", new { @style = "color:orange;" })*@
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">نوع المبنى</label>
                        @Html.DropDownList("BuildingTypes", (List<SelectListItem>)ViewBag.DDBuildingTypes, new { style = "padding:0px", @class = "form-control" })
                    </div>

                    @*<div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructionType)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.ConstructionType, new { @readonly = "readonly", @class = "form-control", id = "ConstructionType", @placeholder = "نوع البناء" })


                    </div>*@

                    <div class="form-group col-md-6">

                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.NumberOfFloors)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.NumberOfFloors, new { @class = "form-control", id = "NumberOfFloors", @placeholder = "عدد الطوابق المراد بنائها" })


                    </div>

                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">




                    <div id="divAttachments" class="row">
                        @{ Html.RenderPartial("_ListAttachments", Model);}
                    </div>

                </div>


                <div class="col-sm-6">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">

                    <label class="control-label">ملاحظات</label>
                    @Html.TextAreaFor(m => m.BuildingPermits.DmEngineerComments, new { @class = "form-control", id = "Notes", @placeholder = "ملاحظات" })
                </div>
                <div class="col-sm-6">
                    <label class="control-label">رأي المهندس</label>
                    @Html.DropDownListFor(m => m.BuildingPermits.WorkflowStatus, (List<SelectListItem>)ViewBag.DDPermitsStatus, new { @class = "dropdown-toggle", Id = "PermitsStatus" })
                    @Html.ValidationMessageFor(m => m.BuildingPermits.WorkflowStatus, "", new { @style = "color:orange;" })

                </div>

            </div>
            <br />
            <div class="row">
                
                    <button class="btn btn-primary" id="Save" @*onclick="return confirm('هل انت متاكد من حفظ التعديلات !');"*@>
                        <i class="glyphicon glyphicon-ok"></i> حفظ
                    </button>
                    <button class="btn btn-primary" id="btnGenerateReport" @*onclick="return confirm('هل انت متاكد من حفظ التعديلات !');"*@>
                        <i class="glyphicon glyphicon-ok"></i> طباعة
                    </button>
                    <a style="float:left" href="@Url.Action( "Index","BuildingPermits")" class="btn btn-primary" role="button">الصفحة السابقة</a>
                
            </div>
                }

            </div>
        </div>



    <div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Welayah").change(function () {
            $("#Region").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegions")', // Calling json method
                dataType: 'json',
                data: { id: $("#Welayah").val() },
                // Get Selected Country ID.
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#Region").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
    </script>


    <script>
        $(document).ready(function () {

            $("#PermitsStatus option[value='0']").attr("disabled", "disabled");

            $("#Save").click(function () {
                $("#Permitsform").submit();
            });



        });
    </script>


    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.

            $('body').on('click', '.modal-link', function (e) {

                $(this).attr('data-target', '#MainModal');
                $(this).attr('data-toggle', 'modal');
            });


            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {

                $('#MainModal').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#MainModal').on('hidden.bs.modal', function () {

                $(this).removeData('bs.modal');
            });

            $(document).on("hidden.bs.modal", function (e) {
                $(e.target).removeData("bs.modal").find(".modal-content").empty();
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

