@model DMeServices.Models.ViewModels.Internal.Permits.SupervisionViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-edit"></i> المرفقات الاساسية</h2>
    </div>
    <div class="box-content">
        <!--item details-->
        <div class="">
            <table id="myTable" class=" table order-list">
                <thead>
                    <tr>
                        <td>نوع المرفق</td>
                        <td>تاريخ الاضافة</td>
                        <td>وقت الاضافة</td>

                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListOfAttachments != null)
                    {
                        //int i = 0;
                        foreach (var item in Model.ListOfAttachments)
                        {
                            if (item.AttachmentTypeId <= 3)
                            {

                                <tr>
                                    <td class="col-sm-1" style="width:10%;">
                                        @DMeServices.Models.Common.BuildingServices.AttachmentTypesCom.TypeByID((int)@item.AttachmentTypeId).Name

                                    </td>

                                    <td class="col-sm-1" unprintable>

                                        @item.InsertDate.ToShortDateString()

                                    </td>

                                    <td class="col-sm-1" unprintable>

                                        @item.InsertDate.ToShortTimeString()

                                    </td>
                                    <td class="col-sm-1" unprintable>



                                        <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "BuildingSupervision", @Id = item.Id })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>

                                    </td>
                                </tr>
                            }

                        }
                        //i++;
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" style="text-align:center;"></td>
                    </tr>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <!--end of item details-->
    </div>
</div>

<br />
<div id="divMapAttachments">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-edit"></i> مرفقات رقابة البناء</h2>
        </div>
        <div class="box-content">
            <!--item details-->
            <div class="">
                <table id="myTable" class=" table order-list">
                    <thead>
                        <tr>
                            <td>نوع المرفق</td>
                            <td>الملاحظات</td>
                            <td>تاريخ الاضافة</td>
                            <td>وقت الاضافة</td>
                            <td>حالة الملف</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListOfAttachments != null)
                        {

                            foreach (var item in Model.ListOfAttachments)
                            {
                                if (item.AttachmentTypeId > 3)
                                {
                                    <tr>
                                        <td class="col-sm-3">
                                            @DMeServices.Models.Common.BuildingServices.AttachmentTypesCom.TypeByID((int)@item.AttachmentTypeId).Name
                                        </td>
                                        <td class="col-sm-3">
                                            @item.Description
                                        </td>
                                        <td class="col-sm-3" unprintable>
                                            @item.InsertDate.ToShortDateString()
                                        </td>

                                        <td class="col-sm-2" unprintable>
                                            @item.InsertDate.ToShortTimeString()
                                        </td>
                                        <td class="col-sm-1" unprintable>
                                            <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "BuildingSupervision", @Id = item.Id })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>
                                        </td>
                                    </tr>
                                }
                                //i++;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" style="text-align:center;"></td>
                        </tr>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
            <!--end of item details-->
        </div>
    </div>
</div>
<br />




<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


        </div>
    </div>
</div>

<script type="text/javascript">
    function unloadModal() {
        $('#MainModal').modal('hide');
    }
</script>

<script type="text/javascript">
    $(function () {
        $('body').on('click', '.modal-link', function (e) {

            $(this).attr('data-target', '#MainModal');
            e.preventDefault();
            $("iframe").attr("src", $(this).attr('href'));
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {

            $('#MainModal').modal('hide');

        });

        $('#MainModal').on('hidden.bs.modal', function () {

            $(this).removeData('bs.modal');
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>



