@model DMeServices.Models.ViewModels.Internal.Permits.SupervisionViewModel
@{
    ViewBag.Title = "Inspector Details";
    Layout = "~/Views/Shared/_SubLayout.cshtml";

}

<script>
    $(document).ready(function () {
        var counter = 0;

        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><select data-rel="chosen" style="width:75%;padding: 0px 12px;" class="form-control" name="AreaType' + counter + '"><option>منزل</option><option>فيلا</option><option>محل</option></select></td>';
            cols += '<td><input type="file" name="Attachment' + counter + '"/></td>';
            cols += '<td><textarea type="text" class="form-control" rows="1" name="phone' + counter + '"></textarea></td>';

            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="حذف"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });
        
        if ($('#SupervisionStatus').val() == '65') {
            $('#btnFees').show();
            $("#btnPrint").hide();
        }
        else if ($('#SupervisionStatus').val() == '66') {
            $("#btnFees").hide();
            $("#btnPrint").show();
        }
        else {
            $("#btnFees").hide();
            $("#btnPrint").hide();
        }

        $("#SupervisionStatus").on("change", function () {
            if (this.value == 65) {
                $("#btnFees").show();
                $("#btnPrint").hide();
            }
            else if (this.value == 66) {
                $("#btnFees").hide();
                $("#btnPrint").show();
            }
            else {
                $("#btnFees").hide();
                $("#btnPrint").hide();
            }
        });
        //$("#btnFees").hide();

        //$("#SupervisionStatus").on("change", function () {
        //    if (this.value == 19)
        //        $("#btnFees").show();
        //    else
        //        $("#btnFees").hide();
        //});

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });

        function ClearInputs() {
            debugger;
            $('#FileNotes').text('');
            $('#FileUpload').text('');

        }

    });

    $(document).ready(function () {
        $("#btnGenerateReport").click(function () {

            ReportManager.GenerateReport();

        });
    });

    var ReportManager = {
        GenerateReport: function () {

            var jsonParam = "";
            var serviceUrl = "../../Home/GetReport";
            ReportManager.GetReport(serviceUrl, jsonParam, onFailed);

            function onFailed(error) {
                alert(error);
            }
        },

        GetReport: function (serviceUrl, jsonParam, errorCallBack) {
            jQuery.ajax({
                url: serviceUrl,
                async: false,
                type: "POST",
                data: "{" + jsonParam + "}",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.open('../../Reports/ReportViewer.aspx', 'newtab');
                },
                error: errorCallBack
            });
        }
    };

    var ReportHelper = {

    };

</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }

    .chosen-container-single .chosen-single {
        height: 37px !important;
    }

        .chosen-container-single .chosen-single span {
            margin-top: 4px !important;
        }

        .chosen-container-single .chosen-single div {
            top: 4px !important;
        }
</style>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a href="@Url.Action("Index","BuildingSupervision")">رقابة البناء</a>
        </li>
        <li>
            <a href="#"> تفاصيل الطلب</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">
    <div class="row">


        @using (Html.BeginForm("SaveInspectorDetails", "BuildingSupervision", FormMethod.Post, new { encType = "multipart/form-data", @id = "Supervisionform" }))
        {
            var User = DMeServices.Models.Common.UserCom.UserByCivilID((int)Model.BuildingSupervision.ConsultantCivilId);
            var serviceType = DMeServices.Models.Common.BuildingServices.SupervisionCom.ServiceByID((int)Model.BuildingSupervision.ServiceTypeID).ServiceNameAR;
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.BuildingSupervision.ID)
            @Html.HiddenFor(x => x.BuildingSupervision.ConsultantCivilId)
            @Html.HiddenFor(x => x.BuildingSupervision.TransactNo)
            <div class="row">
                <div class="row">
                    <label>نوع الخدمة المطلوبة</label>
                    <label>@serviceType</label>
                </div>
                <div class="form-group col-lg-4">
                    <h5>بيانات الاستشاري</h5>
                    <div class="form-group col-lg-4">
                        <label class="control-label">اسم المكتب الاستشاري</label>
                        <lable class="form-control">@User.CompanyName</lable>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">اسم المهندس الاستشاري</label>
                        <lable class="form-control">@User.FullName</lable>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">رقم تليفون المهندس</label>
                        <lable class="form-control">@User.MobileNo.ToString()</lable>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <h5>بيانات مالك الارض</h5>
                    @{
                        if (Model.BuildingSupervision.OwnerName != null)
                        {
                            <div class="form-group col-lg-4">
                                <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerName)</label>
                                @Html.TextBoxFor(m => m.BuildingSupervision.OwnerName, new { @readonly = "readonly", @class = "form-control", id = "OwnerName", @placeholder = "إسم المالك" })
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerCivilId)</label>
                                @Html.TextBoxFor(m => m.BuildingSupervision.OwnerCivilId, new { @readonly = "readonly", @class = "form-control", id = "OwnerCivilId", @placeholder = "الرقم المدني للمالك" })
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerPhoneNo)</label>
                                @Html.TextBoxFor(m => m.BuildingSupervision.OwnerPhoneNo, new { @readonly = "readonly", @class = "form-control", id = "OwnerPhoneNo", @placeholder = "الهاتف" })
                            </div>
                        }
                        else
                        {
                            <div id="divOwners" class="box">
                                @if (Model.ListOfOwners != null && Model.ListOfOwners.Count > 0)
                                {
                                    Html.RenderPartial("_ListOwnersDetails", Model);
                                }
                            </div>
                        }
                    }
                </div>
                <div class="form-group col-lg-4">
                    <h5>بيانات مكان قطعة الأرض</h5>
                    <div class="form-group col-lg-3">
                        <label class="control-label">محافظة</label>
                        <input class="form-control" placeholder="ظفار" readonly="readonly" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.WelayahID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.WelayahID, (List<SelectListItem>)ViewBag.DDWelayat, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Welayah" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.RegionID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.RegionID, (List<SelectListItem>)ViewBag.DDRegion, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Region" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.SquareLetterID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.SquareLetterID, (List<SelectListItem>)ViewBag.DDSquareLetters, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "SquareLetter" })
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات قطعة الأرض</h5>

                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DistrictNo)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.DistrictNo, new { @readonly = "readonly", @class = "form-control", id = "DistrictNo", @placeholder = "رقم القطعة" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.LandArea)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LandArea, new { @readonly = "readonly", @class = "form-control", id = "LandArea", @placeholder = "المساحة الكلية لقطعة الأرض" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandArea, "", new { @style = "color:orange;" })
                    </div>

                    <div class="form-group col-lg-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.KrokiNO)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.KrokiNO, new { @readonly = "readonly", @class = "form-control", id = "KrokiNO", @placeholder = "رقم الكروكي" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.KrokiNO, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptNo)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LandDeedReceiptNo, new { @readonly = "readonly", @class = "form-control", id = "LandDeedReceiptNo", @placeholder = "رقم ايصال سند الملكية" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptNo, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptDate)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LandDeedReceiptDate, new { @readonly = "readonly", @class = "form-control", id = "LandDeedReceiptDate", @placeholder = "تاريخ ايصال سند الملكية" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptDate, "", new { @style = "color:orange;" })
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات ترخيص البناء</h5>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LicenseNo)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LicenseNo, new { @readonly = "readonly", @class = "form-control", id = "LicenseNo", @placeholder = "رقم الترخيص" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructedArea)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.ConstructedArea, new { @readonly = "readonly", @class = "form-control", id = "ConstructedArea", @placeholder = "المساحة المراد بنائها" })
                    </div>

                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.ConstructionType)
                        </label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.UseTypeID, (List<SelectListItem>)ViewBag.DDLandUseTypes, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", @id = "LandUseTypes" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.BuildingTypeID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.BuildingTypeID, (List<SelectListItem>)ViewBag.DDBuildingTypes, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", @id = "BuildingTypes" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.NumberOfFloors)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.NumberOfFloors, new { @readonly = "readonly", @class = "form-control", id = "NumberOfFloors", @placeholder = "عدد الطوابق المراد بنائها" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label"> السجل التجاري للمقاول</label>
                    @Html.TextBoxFor(n => n.Contractor.Cr_No, null, new { @readonly = "readonly", @class = "form-control", placeholder = "السجل التجاري للمقاول", @id = "CommercialNo", @onchange = "EmptyTextBoxes();" })
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label"> اسم الشركة</label>
                    @Html.TextBoxFor(n => n.Contractor.Cr_Name, null, new { @readonly = "readonly", @class = "form-control", placeholder = "اسم الشركة", @id = "CompanyName" })
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label"> الاسم بالكامل</label>
                    @Html.TextBoxFor(n => n.Contractor.OwnerFullName, null, new { @readonly = "readonly", @class = "form-control", placeholder = "الاسم بالكامل", @id = "FullName" })
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label"> الشكل القانوني</label>
                    @Html.TextBoxFor(n => n.Contractor.LegalForm, null, new { @readonly = "readonly", @class = "form-control", placeholder = "الشكل القانوني", @id = "LegalForm" })
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label"> الرقم المدني</label>
                    @Html.TextBoxFor(n => n.Contractor.Owner_Civil_ID, null, new { @readonly = "readonly", @class = "form-control", placeholder = "الرقم المدني", @id = "CivilID" })
                    @Html.ValidationMessageFor(n => n.Contractor.Owner_Civil_ID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label"> رقم الهاتف</label>
                    @Html.TextBoxFor(n => n.Contractor.PhoneNo, null, new { @readonly = "readonly", @class = "form-control", placeholder = "رقم الهاتف", @id = "PhoneNumber" })
                    @Html.ValidationMessageFor(n => n.Contractor.PhoneNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label"> البريد الالكتروني</label>
                    @Html.TextBoxFor(n => n.Contractor.Email, null, new { @readonly = "readonly", @class = "form-control", placeholder = "البريد الالكتروني", @id = "Email" })
                    @Html.ValidationMessageFor(n => n.Contractor.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">اسم مشرف العمال</label>
                    @Html.TextBoxFor(n => n.Contractor.Foreman_Name, null, new { @readonly = "readonly", @class = "form-control", placeholder = "رقم الهاتف", @id = "PhoneNumber" })
                    @Html.ValidationMessageFor(n => n.Contractor.Foreman_Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label"> الرقم المدني لمشرف العمال</label>
                    @Html.TextBoxFor(n => n.Contractor.Foreman_Civil_ID, null, new { @readonly = "readonly", @class = "form-control", placeholder = "رقم الهاتف", @id = "PhoneNumber" })
                    @Html.ValidationMessageFor(n => n.Contractor.Foreman_Civil_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div id="divAttachments" class="form-group">
                    @{ Html.RenderPartial("_ListAttachments", Model);}
                </div>

                @if (Model.TransactsList != null && Model.TransactsList.Count > 0)
                {
                    <div class="form-group">
                        @{ Html.RenderPartial("_ListTransacts", Model);}
                    </div>
                }
                @if (Model.PaymentDetailsList != null && Model.PaymentDetailsList.Count > 0)
                {
                    <div id="divDues" class="form-group">
                        @{ Html.RenderPartial("_ListDues", Model);}
                    </div>
                }
                @if (Model.BuildingSupervision.Status > 28)
                {
                    <div id="divPrints" class="form-group">
                        @{ Html.RenderPartial("_ListPrints", Model);}
                    </div>
                }
            </div>
            <div class="row">
                <div class="box col-lg-6">
                    <div class="col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DmFileNumber)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.BldPermits.DmFileNumber, new { @readonly = "readonly", @class = "form-control", id = "FileNumber", @placeholder = "رقم الملف" })
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DmEngineerComments)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.BldPermits.DmEngineerComments, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "ملاحظات" })
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DMLicenseComments)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.BldPermits.DMLicenseComments, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "بيان الترخيص" })
                    </div>
                </div>
                <div class="box col-lg-6">
                    <div class="col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DMLicenseNames)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.BldPermits.DMLicenseNames, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "بيان اسماء المالكين" })
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DMLicenseCivilIDs)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.BldPermits.DMLicenseCivilIDs, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "بيان ارقام البطاقات الشخصية للمالكين" })
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingSupervision.Status)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.Status, (List<SelectListItem>)ViewBag.DDSupervisionsStatus, new { @class = "form-control dropdown-toggle", Id = "SupervisionStatus" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.WorkflowStatus, "", new { @style = "color:orange;" })
                    </div>

                    @*<div class="col-lg-3" style="margin-bottom:20px ; padding:0px">
                        <label class="control-label">تحويل الطلب</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.DmEngineerNo, (List<SelectListItem>)ViewBag.DDEngineersList, new { @class = "form-control dropdown-toggle", @id = "EngineerID" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.DmEngineerNo, "", new { @style = "color:orange;" })
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="box col-lg-12">
                    <div class="form-group col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingSupervision.DmSupervisionComments)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.DmSupervisionComments, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "ملاحظات" })
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingSupervision.DmInspectorComments)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.DmInspectorComments, new { @class = "form-control", id = "Notes", @placeholder = "ملاحظات" })
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("مرفقات التفتيش")</label>
                        </div>
                        <div class="col-lg-5">
                            @Html.TextBoxFor(m => m.InspectorAttachments.File, new { @type = "file", @multiple = "multiple", @id = "InspectorAttachments", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.InspectorAttachments.File, "", new { @style = "color:orange;" })
                        </div>
                        <!--<div class="col-lg-3">-->
                        @*<a class="modal-link" href="@Url.Action("PdfPartial", new { @controller = "BuildingSupervision", @Id = 2 })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>*@
                        @*<a class="modal-link" data-toggle="tooltip" title="Predogled"
                        data-url="@Url.Action("PdfPartial", "BuildingSupervision", new { id = 2 })"
                        onclick="showGenericModal(event);">تحميل الملف<i class="fa fa-eye-slash modal-link"></i></a>*@
                        <!--</div>-->
                        <div class="col-lg-2">
                            <div id="InspectorAttachmentsLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader"></div>
                            <span id="InspectorAttachmentsSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div slass="row">
                <button class="btn btn-primary" id="Save" @*onclick="return confirm('هل انت متاكد من حفظ التعديلات !');"*@>
                    <i class="glyphicon glyphicon-ok"></i> حفظ
                </button>
                <a class="btn btn-primary" id="btnFees" href="@Url.Action( "BuildingSupervisionFees","BuildingSupervision", new {@id= Model.BuildingSupervision.ID})" role="button">
                    <i class="glyphicon glyphicon-ok"></i> تحديد الرسوم
                </a>
                <a class="btn btn-primary" id="btnPrint" href="@Url.Action( "BuildingSupervisionPrint","BuildingSupervision", new {@id= Model.BuildingSupervision.ID})" role="button">
                    <i class="glyphicon glyphicon-ok"></i> طباعة الترخيص
                </a>

                <a style="float:left" href="@Url.Action( "Index","BuildingSupervision")" class="btn btn-primary" role="button">الصفحة السابقة</a>
            </div>
        }

    </div>
</div>



<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
        $(function () {
            //Country Dropdown Selectedchange event
            $("#Welayah").change(function () {

                $("#Region").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetRegions")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Welayah").val() },
                    // Get Selected Welayah ID.
                    success: function (regions) {
                        $.each(regions, function (i, region) {
                            $("#Region").append('<option value="' + region.Value + '">' + region.Text + '</option>');
                        });
					    $("[data-rel='chosen']").trigger("chosen:updated");
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Regions.' + ex);
                    }
                });
                return false;
            });
        });
</script>
<script>

    function onchangeevent(textBox) {
        var fileArray = $('#' + textBox.id)[0];
        $('#' + textBox.id + 'Loader').css("display", "block");

        var totalSize = 0;
        for (var i = 0; i < fileArray.files.length; i++) {
            var fileName = fileArray.files[i].name;
            if (fileName) { // returns true if the string is not empty
                var filesize = (fileArray.files[i].size);
                totalSize += filesize;
                //alert(fileize);
                var valid_extensions = /(\.JPG|\.JPEG|\.PDF|\.PNG|\.jpg|\.jpeg|\.pdf|\.png)$/i;
                if (valid_extensions.test(fileName)) {


                    $('#' + textBox.id + 'Loader').css("display", "block");

                }
                else {
                    $('#' + textBox.id + 'Span').css("display", "none");
                }
                // alert(fileName + " was selected");
            } else { // no file was selected

                $('#' + textBox.id + 'Span').css("display", "none");
                // alert("no file selected");
            }

        }
        if (totalSize <= 3000000) {
            $('#' + textBox.id + 'Loader').css("display", "none");
            $('#' + textBox.id + 'Span').css("display", "block");
        } else {

            $('#' + textBox.id + 'Span').css("display", "none");
            $('#' + textBox.id + 'Loader').css("display", "block");
            alert('حجم الملفات تجاوز حد 3 ميجا بايت المسموح به')
        }
    }
    function ClearInputs() {
        $('#FileNotes').val('');
        $('#FileUpload').val('');
    }
    function OnFailure() {
        $('#txtMessageText').text('');
    }
</script>


<script>
    $(document).ready(function () {
        //$("#btnFees").hide();
        //$("#btnPrint").hide();

        //$("#SupervisionStatus").on("change", function () {
        //    if (this.value == 65) {
        //        $("#btnFees").show();
        //        $("#btnPrint").hide();
        //    }
        //    else if (this.value == 66) {
        //        $("#btnFees").hide();
        //        $("#btnPrint").show();
        //    }
        //    else {
        //        $("#btnFees").hide();
        //        $("#btnPrint").hide();
        //    }
        //});

        $("#SupervisionStatus option[value='0']").attr("disabled", "disabled");

        $("#Save").click(function () {
            $("#Supervisionform").submit();
        });



    });
</script>


<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();

        // Initalize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.

        $('body').on('click', '.modal-link', function (e) {

            $(this).attr('data-target', '#MainModal');
            $(this).attr('data-toggle', 'modal');
        });


        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {

            $('#MainModal').modal('hide');
        });

        //clear modal cache, so that new content can be loaded
        $('#MainModal').on('hidden.bs.modal', function () {

            $(this).removeData('bs.modal');
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>

