@model DMeServices.Models.ViewModels.Revenue.RevenueViewModel
@{
    ViewBag.Title = "PermitFees";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<style>
    .ui-datepicker table {
        background: #FFF !important;
    }
</style>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="~/Scripts/jquery-1.12.1.js"></script>
<link href="~/Content/css/jquery-1.12.1-theme.css" rel="stylesheet" />

<style>
    .chosen-container-single .chosen-single {
        height: 37px !important;
    }

        .chosen-container-single .chosen-single span {
            margin-top: 4px !important;
        }

        .chosen-container-single .chosen-single div {
            top: 4px !important;
        }

    #PaymentBankCode_chosen {
        width: 100% !important;
    }
</style>
<script>
    var dateToday = new Date();
    $(function () {
        $("#PaymentCheqDate").datepicker({
            //minDate: dateToday,
        });
        $("#StartDate").datepicker({
            //minDate: dateToday,
            changeMonth: true,
            changeYear: true,
            maxDate: "+2Y",
            minDate: "-1Y",
            monthNamesShort: ['يناير', 'فبراير', 'مارس', 'ابريل', 'مايو', 'يونيو',
                'يوليو', 'اغسطس', 'سبتمبر', 'اكتوبر', 'نوفمبر', 'ديسمبر']
        });
        $("#EndDate").datepicker({
            //minDate: dateToday,
            changeMonth: true,
            changeYear: true,
            maxDate: "+2Y",
            minDate: "-1Y",
            monthNamesShort: ['يناير', 'فبراير', 'مارس', 'ابريل', 'مايو', 'يونيو',
                'يوليو', 'اغسطس', 'سبتمبر', 'اكتوبر', 'نوفمبر', 'ديسمبر']
        });
    });
</script>
<div>
    <ul class="breadcrumb">
        <li>
            <a href="~/Home/">الرئيسية</a>
        </li>
        <li>
            <a href="#">تحديد رسوم ترخيص البناء</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">
    <div class="body-content">
        <div class="row">
            @using (Html.BeginForm("SaveMainPayments", "Revenue", FormMethod.Post, new { encType = "multipart/form-data", @id = "SaveMainPaymentsform" }))
            {
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-edit"></i> بيانات الترخيص</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="box-content">

                            <div class="form-group col-md-3">
                                <label class="control-label">رقم قطعة الأرض</label><label style="color:red;margin:2px;">  </label>
                                @Html.TextBoxFor(m => m.RevMainPayment.PaymentCode, new { @class = "form-control", disabled = true, type = "text", id = "PaymentCode" })
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">تاريخ الدفع</label><label style="color:red;margin:2px;">  </label>
                                @Html.TextBoxFor(m => m.RevMainPayment.PaymentDate, new { @class = "form-control", @style = "", type = "text", disabled = true, id = "PaymentDate", @Value = @DateTime.Now.ToString("yyyy/MM/dd h:m") })

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">محرر الإيصال</label><label style="color:red;margin:2px;">  </label>
                                <input type="text" class="form-control" id="example1" disabled placeholder="@(((DMeServices.Models.Employee)Session["EmployeeInfo"]).NAME)">
                                <input type="hidden" class="form-control" id="UserCode" value="@(((DMeServices.Models.Employee)Session["EmployeeInfo"]).EMP_NO)">

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">محافظة</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.DeptCode, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevMainPayment.DeptCode, (List<SelectListItem>)ViewBag.DDDepartmentByEmployeeSiteCd, new { @class = "form-control", @data_rel = "chosen", @id = "DeptCode" })

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">الولاية</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.WelyatCode, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevMainPayment.WelyatCode, (List<SelectListItem>)ViewBag.DDWelayatByDepartmentID, new { @class = "form-control", @data_rel = "chosen", @id = "WelyatCode" })

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">إستلمت من</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PayerName, "", new { @style = "color:red;" })</label>
                                @Html.TextAreaFor(m => m.RevMainPayment.PayerName, new { @class = "form-control", @rows = 2, type = "text", id = "PayerName", @placeholder = "إسم العميل" })

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">رمز الإيراد</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.FinancialItemId, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevMainPayment.FinancialItemId, (List<SelectListItem>)ViewBag.DDFinancialItems, "إختر رمز الإيراد ", new { @class = "form-control", @data_rel = "chosen", @id = "FinancialItemId" })

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">الرمز الفرعي للإيراد</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.FinancialSubItemId, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevMainPayment.FinancialSubItemId, (List<SelectListItem>)ViewBag.DDSubFinancialItems, "اختر الرمز الفرعي للإيراد ", new { @class = "form-control", @data_rel = "chosen", @id = "FinancialSubItemId" })
                            </div>

                            <div class="input-group col-md-12">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-edit"></i> رسوم الترخيص</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="box-content">

                            <div class="form-group col-md-3">
                                <label class="control-label">رقم العقد</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.ContractNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.ContractNo, new { @class = "form-control", type = "text", id = "ContractNo", @placeholder = "", @onchange = "Yarab()" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">بطاقة المؤجر</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.OwnerCivilId, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.OwnerCivilId, new { @class = "form-control", type = "text", id = "OwnerCivilId", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">اسم المؤجر</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.OwnerName, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.OwnerName, new { @class = "form-control", type = "text", id = "OwnerName", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">بطاقة المستأجر</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.BeneficiaryCivilId, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.BeneficiaryCivilId, new { @class = "form-control", type = "text", id = "BeneficiaryCivilId", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">جنسية المستأجر</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.BeneficiaryCountry, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.BeneficiaryCountry, new { @class = "form-control", type = "text", id = "BeneficiaryCountry", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">اسم المستأجر</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.BeneficiaryName, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.BeneficiaryName, new { @class = "form-control", type = "text", id = "BeneficiaryName", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"> السجل التجاري</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.CommericalNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.CommericalNo, new { @class = "form-control", type = "text", id = "CommericalNo", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"> العداد الكهربائي</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.ElectricNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.ElectricNo, new { @class = "form-control", type = "text", id = "ElectricNo", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">الشارع</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.StreetName, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.StreetName, new { @class = "form-control", type = "text", id = "StreetName", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">رقم القطعة</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.PlotNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.PlotNo, new { @class = "form-control", type = "text", id = "PlotNo", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">المربع</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.Block, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.Block, new { @class = "form-control", type = "text", id = "Block", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">رقم المبني</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.BuildingNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.BuildingNo, new { @class = "form-control", type = "text", id = "BuildingNo", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">الزقاق</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.AlleyNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.AlleyNo, new { @class = "form-control", type = "text", id = "AlleyNo", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">رقم الشقة</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.FlatNo, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.FlatNo, new { @class = "form-control", type = "text", id = "FlatNo", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">الولاية</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.LocationCode, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevLeaseContract.LocationCode, (List<SelectListItem>)ViewBag.DDWelayatByDepartmentID, new { @class = "form-control", @data_rel = "chosen", @id = "LocationCode" })

                            </div>
                            <div class="form-group col-md-9">
                                <label class="control-label">نوع العقد</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.ContractType, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevLeaseContract.ContractType, (List<SelectListItem>)ViewBag.DDContractTypes, new { @class = "form-control", @data_rel = "chosen", @id = "ContractType" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"> بداية العقد</label><label style="color:red;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.StartDate, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.StartDate, new { @class = "form-control", type = "text", id = "StartDate", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"> انتهاء العقد</label><label style="color:red;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.EndDate, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.EndDate, new { @class = "form-control", type = "text", id = "EndDate", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">عدد السنوات</label><label style="color:red;margin:2px;"></label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.TotalYears, new { @class = "form-control", type = "text", disabled = true, id = "TotalYears", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">عدد الأشهر</label><label style="color:red;margin:2px;"></label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.TotalMonths, new { @class = "form-control", type = "text", disabled = true, id = "TotalMonths", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">عدد الأيام</label><label style="color:red;margin:2px;"></label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.TotalDays, new { @class = "form-control", type = "text", disabled = true, id = "TotalDays", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">قيمة العقد </label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevLeaseContract.MonthlyFee, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevLeaseContract.MonthlyFee, new { @class = "form-control", type = "text", id = "MonthlyFee", @placeholder = "", @onchange = "GetContractFees()" })

                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">المبلغ</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentAmount, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevMainPayment.PaymentAmount, new { @class = "form-control", @readonly = true, type = "text", id = "PaymentAmount", @placeholder = "" })

                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label">المبلغ بالحروف</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentAmountInWords, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevMainPayment.PaymentAmountInWords, new { @class = "form-control", @readonly = true, type = "text", id = "PaymentAmountInWords" })

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">الوصف</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.CreditCardNo, "", new { @style = "color:red;" })</label>
                                @Html.TextAreaFor(m => m.RevMainPayment.CreditCardNo, new { @class = "form-control", @rows = 2, type = "text", id = "CreditCardNo", @placeholder = "الوصف" })

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">نوع الدفع</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentType, "", new { @style = "color:red;" })</label>
                                @Html.DropDownListFor(m => m.RevMainPayment.PaymentType, (List<SelectListItem>)ViewBag.DDPaymentTypes, new { @class = "form-control", @data_rel = "chosen", @id = "PaymentType" })

                            </div>
                            <div id="Cheque_Data">
                                <div class="form-group col-md-5">
                                    <label class="control-label"> البنك</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentBankCode, "", new { @style = "color:red;" })</label>
                                    @Html.DropDownListFor(m => m.RevMainPayment.PaymentBankCode, (List<SelectListItem>)ViewBag.DDBanks, "إختر البنك ", new { @class = "form-control", @style = "width:100% !important", @data_rel = "chosen", @id = "PaymentBankCode" })

                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">تاريخ الشيك</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentCheqDate, "", new { @style = "color:red;" })</label>
                                    @Html.TextBoxFor(m => m.RevMainPayment.PaymentCheqDate, new { @class = "form-control", type = "text", id = "PaymentCheqDate", @placeholder = "تاريخ الشيك" })

                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">رقم الشيك</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentCheqNo, "", new { @style = "color:red;" })</label>
                                    @Html.TextBoxFor(m => m.RevMainPayment.PaymentCheqNo, new { @class = "form-control", type = "text", id = "PaymentCheqNo", @placeholder = "رقم الشيك" })

                                </div>
                                <div class="form-group col-md-8">
                                    <label class="control-label">إسم محرر الشيك</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentCheqName, "", new { @style = "color:red;" })</label>
                                    @Html.TextBoxFor(m => m.RevMainPayment.PaymentCheqName, new { @class = "form-control", type = "text", id = "PaymentCheqName", @placeholder = "إسم محرر الشيك" })

                                </div>
                            </div>

                            <div class="input-group col-md-12">
                            </div>
                            <button class="btn btn-success noty" id="Save" style="margin-top:20px;">
                                <i class="glyphicon glyphicon-ok"></i>  حفظ بيانات تحصيل العقد
                            </button>
                            <a href="~/Revenue/Index" class="btn btn-warning pull-right" style="margin-top:20px;"><i class="glyphicon glyphicon-share-alt"></i>إلغاء</a>

                        </div>

                    </div>
                </div>
            }
        </div>

    </div>
</div>


<script>
    $("#Save").click(function () {
        Loading();
        $('#SaveMainPaymentsform').submit();
    });
</script>
<script>
    function DisableButton(b) {
        b.disabled = true;
        b.value = 'Submitting';
        b.form.submit();
    }
</script>
<script>
    $(function () {
        $('#FinancialItemId').change(function () {
            var FinancialID = $(this).val();
            $.ajax({
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "DDSubFinancial_Items",
                data: "{FinancialID:'" + FinancialID + "'}",
                success: function (data) {
                    $('#FinancialSubItemId').empty();
                    $('#FinancialSubItemId').append('<option selected="selected" value="">اختر الرمز الفرعي للإيراد</option>')
                    $.each(data, function (i, d) {
                        $('#FinancialSubItemId').append('<option value=' + d.Id + '>' + d.Code + ' - ' + d.Name + '</option>');
                    });
                    $("[data-rel='chosen']").trigger("chosen:updated");
                },
                failure: function (data) {
                    alert('error occured');
                }

            });
        });
    });
</script>
<script>
    $(function () {
        $('#EndDate').change(function () {
            var dt1 = $('#EndDate').val();
            var dt2 = $('#StartDate').val();
            //alert(dt1);
            //alert(dt2);
            $.ajax({
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "DateDifference",
                data: '{"dt1":"' + dt1 + '", "dt2":"' + dt2 + '"}',
                success: function (data) {
                    $('#TotalYears').empty();
                    $('#TotalMonths').empty();
                    $('#TotalDays').empty();

                    $('#TotalYears').val(data.Years);
                    $('#TotalMonths').val(data.Months);
                    $('#TotalDays').val(data.Days);
                    GetContractFees();
                },
                failure: function (data) {
                    alert('error occured');
                }

            });
        });
    });
    $(function () {
        $('#StartDate').change(function () {
            var dt1 = $('#EndDate').val();
            var dt2 = $('#StartDate').val();
            //alert(dt1);
            //alert(dt2);
            $.ajax({
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "DateDifference",
                data: '{"dt1":"' + dt1 + '", "dt2":"' + dt2 + '"}',
                success: function (data) {
                    $('#TotalYears').empty();
                    $('#TotalMonths').empty();
                    $('#TotalDays').empty();

                    $('#TotalYears').val(data.Years);
                    $('#TotalMonths').val(data.Months);
                    $('#TotalDays').val(data.Days);
                    GetContractFees();
                },
                failure: function (data) {
                    alert('error occured');
                }

            });
        });
    });
</script>
<script>


    function GetContractFees() {
        //$('#MonthlyFee').change(function () {
        var MonthValue = $('#MonthlyFee').val();
        var Years = $('#TotalYears').val();
        var Months = $('#TotalMonths').val();
        var Days = $('#TotalDays').val();
        var Type = $('#FinancialItemId').val();
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "ContractFees",
            data: '{"MonthValue":"' + MonthValue + '", "Years":"' + Years + '", "Months":"' + Months + '", "Days":"' + Days + '", "Type":"' + Type + '"}',
            success: function (data) {
                $('#PaymentAmount').empty();
                $('#PaymentAmount').val(data);
                GetArabicPayment()
            },
            failure: function (data) {
                alert('error occured');
            }

        });
    }

    function GetArabicPayment() {
        var TotalPayment = $('#PaymentAmount').val();
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "GetArabicPayment",
            data: "{TotalPayment:'" + TotalPayment + "'}",
            success: function (data) {
                $('#PaymentAmountInWords').empty();
                $('#PaymentAmountInWords').val(data);
                var Correct = "";
                if (TotalPayment.includes(".")) {
                    var Index = TotalPayment.indexOf(".");
                    var Count = TotalPayment.substring(Index + 1).length;
                    if (Count == 1) {
                        Correct = TotalPayment + "00";
                        $('#PaymentAmount').val(Correct);
                    }
                    else if (Count == 2) {
                        Correct = TotalPayment + "0";
                        $('#PaymentAmount').val(Correct);
                    }
                }
                else {
                    Correct = TotalPayment + ".000";
                    $('#PaymentAmount').val(Correct);
                }
                //alert(data);
            },
            failure: function (data) {
                alert('error occured');
            }

        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#Cheque_Data").hide();

        $("#PaymentType").on('change', function () {

            var type = $(this).val();
            if (type == "22") {
                $("#Cheque_Data").hide();
                $("#PaymentCheqDate").val("");
                $("#PaymentCheqNo").val("");
                $("#PaymentCheqName").val("");
                $("#PaymentBankCode").val("");
            } else if (type == "23") {
                $("#Cheque_Data").show();
            }
        });
    });
</script>

@*<script>
        function Yarab() {
            alert("Enter");


            $.ajax({
                url: "http://10.21.4.4:8087/dm/rest/services/companydata?crNumber=1000132",
                type: "GET",
                success: function (data) {
                    alert(data)
                }
            });
        }
    </script>*@

