@model DMeServices.Models.ViewModels.Revenue.RevenueViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<ul class="breadcrumb">
    <li>
        <a href="~/Home/">الرئيسية</a>
    </li>
    <li>
        <a href="#">بحث التحصيل</a>
    </li>
</ul>
<div class="col-lg-9 col-sm-9">
    <div class="body-content">
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i> بحث التحصيل</h2>
                    </div>
                    @using (Html.BeginForm("RevenueSearch", "Revenue", FormMethod.Post, new { encType = "multipart/form-data", @id = "SearchMainPaymentsform" }))
                    {
                        <div class="box-content">

                            <div class="form-group col-md-4">
                                <label class="control-label">السنة المالية</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.FinancialYear, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevMainPayment.FinancialYear, new { @class = "form-control", type = "text", id = "FinancialYear", @placeholder = "السنة المالية" })

                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">رقم الإيصال</label><label style="color:red;margin:2px;"> * @Html.ValidationMessageFor(m => m.RevMainPayment.PaymentCode, "", new { @style = "color:red;" })</label>
                                @Html.TextBoxFor(m => m.RevMainPayment.PaymentCode, new { @class = "form-control", type = "text", id = "PaymentCode", @placeholder = "رقم الإيصال" })

                            </div>

                            <div class="input-group col-md-12">
                            </div>
                            <button class="btn btn-success noty" id="Search" style="margin-top:20px;">
                                <i class="glyphicon glyphicon-ok"></i> بحث التحصيل
                            </button>
                            <span style="color:red; font-size:20px;"><label for="Error_txt" id="Error_txt">لا توجد بيانات مطابقة للبحث</label></span>

                        </div>
                    }
                </div>
            </div>
            <!--/span-->
        </div>

    </div>

</div>



<script>
    $("#Search").click(function () {
        $('#SearchMainPaymentsform').submit();
    });
</script>
<input type='hidden' value='@Request.Url.Segments.Last()' id='Id' />

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        var Id = $("#Id").val();
        if (Id == 0) {
            $('label[for="Error_txt"]').show();
        }
        else {
            $('label[for="Error_txt"]').hide();
        }
    });

</script>

<div class="col-sm-6 col-lg-6">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">
            </div>
            <ul class="nav nav-pills nav-stacked main-menu" id="Commercial"></ul>
        </div>
    </div>
</div>
@*1000134*@

<input id="CommID" onchange="ShowData()" />

<script>
    function ShowData() {
        var Comm_No = $('#CommID').val();
        $.ajax({
            url: "http://10.21.4.4:8087/dm/rest/services/companydata?crNumber=" + Comm_No,
            type: "Get",
            dataType: "json",
            success: function (data) {
                var rows2 = "";
                for (var i = 0; i < data.companyOverview.placesOfActivities.placeOfActivity.length; i++) {
                    var rows = "<li class='accordion'><a href='#'><i class='glyphicon glyphicon-plus'></i><span> رمز الفرع : </span><span>" + data.companyOverview.placesOfActivities.placeOfActivity[i].poaCode + "</span><span style='float: left;'><span>" +
                        data.companyOverview.placesOfActivities.placeOfActivity[i].businessLocation.town.nameAr + "</span><span>/</span><span>" +
                        data.companyOverview.placesOfActivities.placeOfActivity[i].businessLocation.state.nameAr + "</span><span>/</span><span>" +
                        data.companyOverview.placesOfActivities.placeOfActivity[i].businessLocation.governorate.nameAr + "</span></span></a><ul class='nav nav-pills nav-stacked'>";
                    for (var j = 0; j < data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity.length; j++) {

                        rows2 += "<li><a><input type='checkbox'/>&nbsp;&nbsp;<span>" + data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity[j].isicCode + "</span><span> : </span><span>" +
                            data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity[j].nameAr + "</span></a></li>";

                    }
                    $('#Commercial').append(rows + rows2 + "</ul></li>");
                    rows2 = "";
                }
                $.holdReady(true);
                $.getScript("@Url.Content("~/Scripts/js/charisma_ar.js")", function () {
                    $.holdReady(false);
                });
            },
            error: function (msg) { alert(msg); }
        });
    };
</script>

@*<table id="tbPerson" class="col-sm-12">
        <tr style="background-color: #808080; color: white;">
            <td>رمز الفرع</td>
            <td>المدينة</td>
            <td>الولاية</td>
            <td>المحافظة</td>
        </tr>
    </table>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "http://10.21.4.4:8087/dm/rest/services/companydata?crNumber=1010812",
                type: "Get",
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.companyOverview.placesOfActivities.placeOfActivity.length; i++) {
                        var rows = "<tr><td>" + data.companyOverview.placesOfActivities.placeOfActivity[i].poaCode + "</td><td>" +
                            data.companyOverview.placesOfActivities.placeOfActivity[i].businessLocation.town.nameAr + "</td><td>" +
                            data.companyOverview.placesOfActivities.placeOfActivity[i].businessLocation.state.nameAr + "</td><td>" +
                            data.companyOverview.placesOfActivities.placeOfActivity[i].businessLocation.governorate.nameAr + "</td></tr>";
                        for (var j = 0; j < data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity.length; j++) {

                            var rows2;
                            rows2 += "<tr><td>" + data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity[j].isicCode + "</td><td>" +
                                data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity[j].isicCode + "</td><td>" +
                                data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity[j].nameAr + "</td><td>" +
                                data.companyOverview.placesOfActivities.placeOfActivity[i].activities.activity[j].isicCode + "</td></tr>";
                        }
                        $('#tbPerson').append(rows + rows2);
                        rows2 = "";
                    }
                },
                error: function (msg) { alert(msg); }
            });
        });
    </script>*@


