@model DMeServices.Models.ViewModels.Permits.SupervisionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <a onclick="return Loading();" href="@Url.Action(Model.ShowAdd ? "Index" : "LandProjects", "BuildingPermits")">الرئيسية</a>
    </li>
    <li>
        <a onclick="return Loading();" href="#">خدمات رقابة البناء</a>
    </li>
</ul>

<div class="col-lg-12 col-sm-12">
    <a onclick="return Loading();" href="@Url.Action("NewSupervision", "BuildingSupervision", new {@showadd = Model.ShowAdd})" class="btn btn-primary ">
        <i class="glyphicon glyphicon-plus icon-white"></i> إضافة طلب جديد
    </a>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-road"></i> طلبات رقابة البناء</h2>

                </div>
                <div class="box-content">
                    
                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive ">
                        <thead>
                            <tr>
                                <th>رقم المعاملة</th>
                                <th>اسم المالك</th>
                                <th>رقم بطاقة المالك</th>
                                <th>نوع الطلب</th>
                                <th>تاريخ الطلب</th>
                                <th>حالة الطلب</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListBuildingSupervision)
                            {
                                <tr>
                                    <td class="center"> <a class="btn btn-primary" onclick="return Loading();" href="@Url.Action("SupervisionDetails", "BuildingSupervision", new { @Id = item.ID, @showadd = Model.ShowAdd })"> @item.TransactNo  </a> </td>
                                    @*<td class="center">@item.TransactNo</td>*@
                                    @{
                                        var ownersName = DMeServices.Models.Common.BuildingServices.PermitsCom.GetOwnersNames((int)item.BldPermitID);
                                        if (item.Status == null)
                                        {
                                            item.Status = 8;
                                        }
                                        if (ownersName != null && ownersName.Count > 0)
                                        {
                                            <td class="center">
                                                @foreach (var name in ownersName)
                                                {
                                                    <ul><li>@name.Name</li></ul>
                                                }
                                            </td>
                                            <td class="center">
                                                @foreach (var name in ownersName)
                                                {
                                                    <ul><li>@name.CivilID</li></ul>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="center">@item.OwnerName</td>
                                            <td class="center"> @item.OwnerCivilId</td>
                                        }
                                    }
                                    <td class="center">@DMeServices.Models.Common.BuildingServices.SupervisionCom.ServiceByID((int)item.ServiceTypeID).ServiceNameAR</td>
                                    <td class="center">@item.RequestDate.ToString("yyyy/MM/dd HH:mm")</td>
                                    <td class="center" style="color:#2f9ce5;">@DMeServices.Models.Common.LookupsTypeCom.LookupByID((int)item.Status).LookupNameAr</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
</div>



