@model DMeServices.Models.ViewModels.Permits.SupervisionViewModel
@{
    ViewBag.Title = "SupervisionServiceDetails";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>




<script>
    $(document).ready(function () {
        var counter = 0;

        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><select data-rel="chosen" style="width:75%;padding: 0px 12px;" class="form-control" name="AreaType' + counter + '"><option>منزل</option><option>فيلا</option><option>محل</option></select></td>';
            cols += '<td><input type="file" name="Attachment' + counter + '"/></td>';
            cols += '<td><textarea type="text" class="form-control" rows="1" name="phone' + counter + '"></textarea></td>';

            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="حذف"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });


        function ClearInputs() {
            debugger;
            $('#FileNotes').text('');
            $('#FileUpload').text('');

        }

    });

</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }


    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }

    .chosen-container-single .chosen-single {
        height: 37px !important;
    }

        .chosen-container-single .chosen-single span {
            margin-top: 4px !important;
        }

        .chosen-container-single .chosen-single div {
            top: 4px !important;
        }
</style>

<div class="col-lg-12">
    <div class="row">

        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">الرئيسية</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","BuildingPermits")">طلبات رقابة البناء</a>
                </li>
                <li>
                    <a href="#"> تفاصيل الطلب</a>
                </li>
            </ul>
        </div>
        @using (Html.BeginForm("SaveConsultantSupervision", "BuildingSupervision", FormMethod.Post, new { encType = "multipart/form-data", @id = "Permitsform" }))
        {
            var User = DMeServices.Models.Common.UserCom.UserByCivilID((int)Model.BuildingSupervision.ConsultantCivilId);
            var serviceType = DMeServices.Models.Common.BuildingServices.SupervisionCom.ServiceByID((int)Model.BuildingSupervision.ServiceTypeID).ServiceNameAR;
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.BuildingSupervision.ID)
            @Html.HiddenFor(x => x.BuildingSupervision.ConsultantCivilId)
            @Html.HiddenFor(x => x.BuildingSupervision.TransactNo)
            @Html.HiddenFor(x => x.ShowAdd, new { @id = "showAdd" } )
            <div class="row">
                <div class="row">
                    <div class="form-group col-lg-2">
                        <label>نوع الخدمة المطلوبة</label>
                        <label>@serviceType</label>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <h5>بيانات مالك الارض</h5>
                    <div class="form-group col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerName)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.OwnerName, new { @readonly = "readonly", @class = "form-control", id = "OwnerName", @placeholder = "إسم المالك" })
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerCivilId)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.OwnerCivilId, new { @readonly = "readonly", @class = "form-control", id = "OwnerCivilId", @placeholder = "الرقم المدني للمالك" })
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerPhoneNo)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.OwnerPhoneNo, new { @readonly = "readonly", @class = "form-control", id = "OwnerPhoneNo", @placeholder = "الهاتف" })
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <h5>بيانات مكان قطعة الأرض</h5>
                    <div class="form-group col-lg-3">
                        <label class="control-label">محافظة</label>
                        <input class="form-control" placeholder="ظفار" readonly="readonly" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.WelayahID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.WelayahID, (List<SelectListItem>)ViewBag.DDWelayat, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Welayah" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.RegionID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.RegionID, (List<SelectListItem>)ViewBag.DDRegion, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Region" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.SquareLetterID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.SquareLetterID, (List<SelectListItem>)ViewBag.DDSquareLetters, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "SquareLetter" })
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات قطعة الأرض</h5>

                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DistrictNo)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.DistrictNo, new { @readonly = "readonly", @class = "form-control", id = "DistrictNo", @placeholder = "رقم القطعة" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.LandArea)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingPermits.LandArea, new { @readonly = "readonly", @class = "form-control", id = "LandArea", @placeholder = "المساحة الكلية لقطعة الأرض" })
                        @Html.ValidationMessageFor(m => m.BuildingSupervision.BldPermits.LandArea, "", new { @style = "color:orange;" })
                    </div>

                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.KrokiNO)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.KrokiNO, new { @readonly = "readonly", @class = "form-control", id = "KrokiNO", @placeholder = "رقم الكروكي" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.KrokiNO, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptNo)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LandDeedReceiptNo, new { @readonly = "readonly", @class = "form-control", id = "LandDeedReceiptNo", @placeholder = "رقم ايصال سند الملكية" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptNo, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptDate)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LandDeedReceiptDate, new { @readonly = "readonly", @class = "form-control", id = "LandDeedReceiptDate", @placeholder = "تاريخ ايصال سند الملكية" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptDate, "", new { @style = "color:orange;" })
                    </div>
                </div>
                <div class="form-group col-lg-8">
                    <h5>بيانات ترخيص البناء</h5>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LicenseNo)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.LicenseNo, new { @readonly = "readonly", @class = "form-control", id = "LicenseNo", @placeholder = "رقم الترخيص" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructedArea)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.ConstructedArea, new { @readonly = "readonly", @class = "form-control", id = "ConstructedArea", @placeholder = "المساحة المراد بنائها" })
                    </div>

                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.ConstructionType)
                        </label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.UseTypeID, (List<SelectListItem>)ViewBag.DDLandUseTypes, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", @id = "LandUseTypes" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.BuildingTypeID)</label>
                        @Html.DropDownListFor(m => m.BuildingSupervision.BldPermits.BuildingTypeID, (List<SelectListItem>)ViewBag.DDBuildingTypes, new { @disabled = "disabled", style = "padding:0px", @class = "form-control", @data_rel = "chosen", @id = "BuildingTypes" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.NumberOfFloors)</label>
                        @Html.TextBoxFor(m => m.BuildingSupervision.BldPermits.NumberOfFloors, new { @readonly = "readonly", @class = "form-control", id = "NumberOfFloors", @placeholder = "عدد الطوابق المراد بنائها" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box col-lg-12">
                    <div class="col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DmFileNumber)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.BldPermits.DmFileNumber, new { @readonly = "readonly", @class = "form-control", id = "FileNumber", @placeholder = "رقم الملف" })
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingSupervision.DmSupervisionComments)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.DmSupervisionComments, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "ملاحظات" })
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingSupervision.DmInspectorComments)</label>
                        @Html.TextAreaFor(m => m.BuildingSupervision.DmInspectorComments, new { @readonly = "readonly", @class = "form-control", id = "Notes", @placeholder = "ملاحظات" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="divAttachments" class="form-group">
                    @{ Html.RenderPartial("_ListDetailsAttachments", Model);}

                </div>
                @if (Model.PaymentDetailsList != null && Model.PaymentDetailsList.Count > 0)
                {
                    <div class="form-group">
                        @{ Html.RenderPartial("_ListDues", Model);}
                    </div>
                }
                @*@if (Model.BuildingPermits.WorkflowStatus > 28)
        {
            <div id="divPrints" class="form-group">
                @{ Html.RenderPartial("_ListPrints", Model);}
            </div>
        }*@
                @*<div id="divDues" class="form-group">
            @{ Html.RenderPartial("_ListDues", Model);}
        </div>


        <div id="divPrints" class="form-group">
            @{ Html.RenderPartial("_ListPrints", Model);}
        </div>*@

            </div>
        }
    </div>


    @if (Model.BuildingSupervision != null && Model.BuildingSupervision.Status == 28)
    {
        <button class="btn btn-primary" id="Save" @*onclick="return confirm('هل انت متاكد من حفظ التعديلات !');"*@>
            <i class="glyphicon glyphicon-ok"></i> حفظ
        </button>
    }
    <a style="float:left" href="@Url.Action( "Index","BuildingSupervision", new { @showadd = Model.ShowAdd } )" class="btn btn-primary" role="button">الصفحة السايفة</a>
    <br />
    @*<a style="float:left" id="Pay" href="@Url.Action( "PayWithPost","BuildingPermits")" class="btn btn-primary" role="button">الدفع</a>*@
</div>

<script>
    $("#Save").click(function () {
        $('#Permitsform').submit();
    });

    $("#Pay").on("click", function () {
        alert('Your Message');
    });



</script>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        //Country Dropdown Selectedchange event
        $("#Welayah").change(function () {

            $("#Region").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegions")', // Calling json method
                dataType: 'json',
                data: { id: $("#Welayah").val() },
                // Get Selected Welayah ID.
                success: function (regions) {
                    $.each(regions, function (i, region) {
                        $("#Region").append('<option value="' + region.Value + '">' + region.Text + '</option>');
                    });
					$("[data-rel='chosen']").trigger("chosen:updated");
                    $("#Area").empty();
                    $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAreas")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Region").val() },
                    // Get Selected Region ID.
                        success: function (areas) {

                        $.each(areas, function (i, area) {
                            $("#Area").append('<option value="' + area.Value + '">' + area.Text + '</option>');
                        });
						$("[data-rel='chosen']").trigger("chosen:updated");

                    },
                    error: function (ex) {
                        alert('Failed to retrieve areas.' + ex);
                        }
                    });
                    return false;
                },
                error: function (ex) {
                    alert('Failed to retrieve Regions.' + ex);
                }
            });
            return false;
        });
    });
</script>







