@model DMeServices.Models.ViewModels.HealthRenewalInternalViewModel
@{
    ViewBag.Title = "InspectorReport";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<style>
    .chosen-container-single .chosen-single {
        height: 37px !important;
    }
</style>


<div>
    <ul class="breadcrumb">
        <li>
            <a href="~/Home/">الرئيسية</a>
        </li>
        <li>
            <a href="~/HealthRenewal/InspectorRenew">أوامر التفتيش</a>
        </li>
        <li>
            <a href="#">تقرير المفتش</a>
        </li>
    </ul>
</div>

<div class="col-lg-12 col-sm-12">
    <div class="body-content">
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i> تفاصيل السجل البلدي</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content">
                        @foreach (var item in Model.LstPermitData)
    {
                        <div class="form-group col-md-6">
                            <label class="control-label"> إسم المؤجر</label>
                            <input type="text" readonly class="form-control" placeholder="إسم المؤجر" value="@item.landlordName">
                        </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> السجل التجاري</label>
                        <input type="text" readonly class="form-control" placeholder="السجل التجاري" value="@item.CommercialNo">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> السجل البلدي</label>
                        <input type="email" readonly class="form-control" placeholder="السجل البلدي" value="@item.MunicipalLicenseNo">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label"> اسم الشركة</label>
                        <input type="email" readonly class="form-control" placeholder="اسم الشركة" value="@item.MOCI_CommercialName">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">نوع الترخيص</label>
                        <input type="text" readonly class="form-control" placeholder="نوع الترخيص" value="@item.PermitTypeName">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> الحالة</label>
                        <input type="text" readonly class="form-control" placeholder="الحالة" value="@item.Case">
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label">الولاية</label>
                        <input type="text" readonly class="form-control" placeholder="الولاية" value="@item.StateName">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> الموقع</label>
                        <input type="text" readonly class="form-control" placeholder="الموقع" value="@item.Permit_Location">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> الشارع</label>
                        <input type="text" readonly class="form-control" placeholder="الشارع" value="@item.StreetName">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> نوع النشاط</label>
                        <input type="text" readonly class="form-control" placeholder="نوع النشاط" value="@item.PermitActivityName">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> بداية التصريح</label>
                        <input type="text" readonly class="form-control" placeholder="بداية التصريح" value="@item.PermitDurationStartDate.ToString("yyyy/MM/dd")">
                    </div>
                    <div class="control-group col-md-3">
                        <label class="control-label"> انتهاء التصريح</label>
                        <input type="text" readonly class="form-control" placeholder="انتهاء التصريح" value="@item.PermitDurationEndtDate.ToString("yyyy/MM/dd")">
                    </div>
}
                        <div class="input-group col-md-12">
                        </div>
                    </div>
                </div>
                </div>
                <!--/span-->
            </div>
        @if (Model.LstPermitAdvertisement.Count > 0)
        {
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2>اللوحات الإعلانية</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>م</th>
                                        <th>نوع اللوحة</th>
                                        <th>موقع اللوحة</th>
                                        <th>تاريخ الإصدار</th>
                                        <th>تاريخ الإنتهاء</th>
                                        <th>الحالة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LstPermitAdvertisement)
                                    {
                                        <tr>
                                            <td>1</td>
                                            <td>@item.PermitTypeName</td>
                                            <td class="center">@item.ADV_Location</td>
                                            <td class="center">@item.PermitDurationStartDate.ToString("yyyy/MM/dd")</td>
                                            <td class="center">@item.PermitDurationEndtDate.ToString("yyyy/MM/dd")</td>
                                            <td class="center">@item.Case</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2>إذن التوريد</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered responsive">
                            <thead>
                                <tr>
                                    <th>م</th>
                                    <th>النوع</th>
                                    <th>تاريخ الإصدار</th>
                                    <th>تاريخ الإنتهاء</th>
                                    <th>المبلغ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LstPermitData)
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>@item.PermitTypeName</td>
                                        <td class="center">@item.PermitDurationStartDate.ToString("yyyy/MM/dd")</td>
                                        <td class="center">@item.PermitDurationEndtDate.ToString("yyyy/MM/dd")</td>
                                        <td class="center">@item.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i> بيانات العقد</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    @foreach (var item in Model.LstPermitData)
                    {
                    <div class="box-content">
                        <div class="form-group col-md-3">
                            <label class="control-label">رقم عقد الإيجار</label>
                            <input type="text" class="form-control" readonly id="example2" placeholder="رقم عقد الإيجار" value="@item.ContractNo">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">تاريخ بدايةالعقد</label>
                            <input type="email" class="form-control" readonly id="example1" placeholder="تاريخ بداية العقد" value="@item.ContractStartDate.ToString("yyyy/MM/dd")">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">تاريخ نهايةالعقد</label>
                            <input type="text" class="form-control" readonly id="example4" placeholder="تاريخ نهايةالعقد" value="@item.ContractEndDate.ToString("yyyy/MM/dd")">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">قيمةالعقد</label>
                            <input type="text" class="form-control" readonly id="example3" placeholder="قيمةالعقد" value="@item.ContractMonthlyFees">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label"> عقد الإيجار</label>
                            @*<a href="#" class="carousel-controls">تحميل عقد الإيجار</a>*@
                            @*<a href="@Url.Action("DisplayFiles", new {@controller = "HealthRenewal", @Id = item.PermitDurationId, @Desc = "2" })" target="_blank">عرض الملف<i class="fa fa-eye-slash"></i></a>*@
                            <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "HealthRenewal", @Id = item.PermitDurationId, @Desc = "2" })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label"> الهوية</label>
                            @*<a href="#" class="carousel-controls">تحميل عقد الإيجار</a>*@
                            @*<a href="@Url.Action("DisplayFiles", new {@controller = "HealthRenewal", @Id = item.PermitDurationId, @Desc = "1" })" target="_blank">عرض الملف<i class="fa fa-eye-slash"></i></a>*@
                            <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "HealthRenewal", @Id = item.PermitDurationId, @Desc = "1" })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label"> عقد الملكية</label>
                            @*<a href="#" class="carousel-controls">تحميل عقد الإيجار</a>*@
                            @*<a href="@Url.Action("DisplayFiles", new {@controller = "HealthRenewal", @Id = item.PermitDurationId, @Desc = "3" })" target="_blank">عرض الملف<i class="fa fa-eye-slash"></i></a>*@
                            <a class="modal-link" href="@Url.Action("GetFile", new { @controller = "HealthRenewal", @Id = item.PermitDurationId, @Desc = "3" })">عرض الملف<i class="fa fa-eye-slash modal-link"></i></a>
                        </div>
                        <div class="input-group col-md-4">
                        </div>
                    </div>
                    }
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i> موعد التفتيش</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    @foreach (var item in Model.LstPermitData)
                    {
                        <div class="box-content">
                            <div class="form-group col-md-12">
                                <label class="control-label">موعد التفتيش</label>
                                <input type="email" readonly class="form-control" style="width:25%" placeholder="موعد التفتيش" value="@item.InspectionDate.ToString("yyyy/MM/dd")">
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">الملاحظات</label>
                                <textarea type="text" rows="3" readonly class="form-control" id="example2" placeholder="الملاحظات">@item.HeadSectionNotes</textarea>
                            </div>
                            <div class="input-group col-md-4">
                            </div>

                        </div>
                    }
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i> تقرير التفتيش</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    @using (Html.BeginForm("SaveInspectorFeedback", "HealthRenewal", FormMethod.Post, new { encType = "multipart/form-data", @id = "InspectorFeedbackform" }))
                    {
                        <div class="box-content">
                            <div class="form-group col-md-12">
                                @foreach (var item in Model.LstPermitData)
                                {
                                    @Html.TextBoxFor(m => m.PermitsInspection.InspectorNo, new { @Value = item.InspectorNo, @type = "hidden", id = "InspectorNo" })
                                    @Html.TextBoxFor(m => m.PermitsInspection.PermitDurationId, new { @Value = item.PermitDurationId, @type = "hidden", id = "PermitDurationId" })
                                    @Html.TextBoxFor(m => m.PermitsInspection.HsPermitId, new { @Value = item.Permit_Id, @type = "hidden", id = "HsPermitId" })
                                }
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">الحالة</label><label style="color:red;margin:2px;"> * </label>
                                @Html.DropDownListFor(m => m.PermitsInspection.Status, (List<SelectListItem>)ViewBag.DDInspectorStatus, new { @class = "form-control", @style = "width:15%;", @data_rel = "chosen", @id = "Status" })
                                @Html.ValidationMessageFor(m => m.PermitsInspection.Status, "", new { @style = "color:red;" })
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">التقرير</label>@*<label style="color:red;margin:2px;"> * </label>*@
                                @Html.TextAreaFor(m => m.PermitsInspection.InpectionNote, new { @class = "form-control", @rows = 3, type = "text", id = "InpectionNote", @placeholder = "التقرير" })
                                @*@Html.ValidationMessageFor(m => m.PermitsInspection.InpectionNote, "", new { @style = "color:red;" })*@
                            </div>
                            <button class="btn btn-success noty" id="Save" style="margin-top:20px;" >
                                <i class="glyphicon glyphicon-ok"></i> حفظ تقرير التفتيش
                            </button>
                            <a href="~/HealthRenewal/InspectorRenew" class="btn btn-warning pull-right" style="margin-top:20px;"><i class="glyphicon glyphicon-share-alt"></i>إلغاء</a>

                        </div>
                    }
                </div>
            </div>
            <!--/span-->
        </div>
    </div>
</div>
<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    $("#Save").click(function () {
        $('#InspectorFeedbackform').submit();
    });
</script>
<script>
    function DisableButton(b) {
        b.disabled = true;
        b.value = 'Submitting';
        b.form.submit();
    }
</script>
<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();

        // Initalize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.

        $('body').on('click', '.modal-link', function (e) {

            $(this).attr('data-target', '#MainModal');
            $(this).attr('data-toggle', 'modal');
        });


        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {

            $('#MainModal').modal('hide');
        });

        //clear modal cache, so that new content can be loaded
        $('#MainModal').on('hidden.bs.modal', function () {

            $(this).removeData('bs.modal');
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>
