@model DMeServices.Models.ViewModels.HealthRenewalInternalViewModel
@{
    ViewBag.Title = "PermitFinish";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <a href="~/Home/">الرئيسية</a>
    </li>
    <li>
        <a href="#">طلبات السجل البلدي </a>
    </li>
</ul>
<div class="col-lg-9 col-sm-9">
    <div class="body-content">
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-road"></i> طلبات السجل البلدي</h2>

                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive ">
                            <thead>
                                <tr>
                                    <th>السجل البلدي</th>
                                    <th>اسم الشركة</th>
                                    <th>نوع النشاط</th>
                                    <th>تاريخ الطلب</th>
                                    <th>حالة الطلب</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LstPermitsFinish)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(
linkText: @item.MunicipalLicenseNo.ToString(),
actionName: "PermitFinishReport",
controllerName: "HealthRenewal",
routeValues: new
{
Id = @item.MunicipalLicenseNo
},
htmlAttributes: null
)
                                        </td>
                                        <td class="center">@item.MOCI_CommercialName</td>
                                        <td class="center">@item.PermitActivityName</td>
                                        <td class="center">@item.RequestDate.ToString("yyyy/MM/dd", System.Globalization.CultureInfo.CreateSpecificCulture("ar-AE"))</td>
                                        <td class="center" style="color:#2f9ce5;">تم الدفع</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

    </div>
</div>

