@model DMeServices.Models.ViewModels.Permits.PermitsViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-edit"></i>اسماء ملاك قطعة الأرض</h2>
    </div>
    <div class="box-content">
        <!--item details-->
        <div class="">
            <table id="myTable" class=" table order-list">
                <thead>
                    <tr>
                        <td>اسم المالك</td>
                        <td>الرقم المدني</td>
                        <td>رقم الهاتف</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListOfOwners != null)
                    {
                        int i = 0;
                        foreach (var item in Model.ListOfOwners)
                        {
                    <tr>
                        <td class="col-sm-1" style="width:10%;">
                            @item.Name

                        </td>
                        <td class="col-sm-1" style="width:25%;">
                            @item.CivilID
                        </td>
                        <td class="col-sm-1" style="width:5%;">
                            @item.Phone
                        </td>

                        <td class="col-sm-1" style="width:20%;">

                            <button type="button" class="btn btn-danger" id="deleteBtn" value="@i" onclick="reply_click(this.value)">
                                <i class="fa fa-close"></i>&nbsp; حذف
                            </button>

                        </td>
                        @*<td class="col-sm-1" style="width:20%;">
            @using (Ajax.BeginForm("DeleteOwner", new { @controller = "BuildingPermits", @Id = i }, new AjaxOptions { UpdateTargetId = "divOwners" }, new { @style = "display: inline-block;" }))
            {
                <button type="submit" class="btn btn-danger" onclick="return confirm('هل انت متأكد من الحذف؟')">
                    <i class="fa fa-close"></i>&nbsp; حذف
                </button>
            }
        </td>*@
                    </tr>
                            i++;
                        }

                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" style="text-align:center;"></td>
                    </tr>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <!--end of item details-->
    </div>
</div>

<script>
    function reply_click(id) {
        var data = new FormData();
        data.append("Id", id);
             var url = "@Url.Action("DeleteOwner", "BuildingPermits")";
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $('#divOwners').html(response);
                },
                error: function (er) {
                    alert(er.message);
                }
            });
        }
</script>


