@model DMeServices.Models.ViewModels.Permits.PermitsViewModel
@{
    ViewBag.Title = "NewPermits";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
@*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery - 1.10.2. js ")"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
@*<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />


<style>
    .ui-widget-header {
        background: #cedc98;
        border: 1px solid #DDDDDD;
        color: #333333;
        font-weight: bold;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 13px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }

    .red {
        color: red;
    }

    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }

    .chosen-container-single .chosen-single {
        height: 37px !important;
    }

        .chosen-container-single .chosen-single span {
            margin-top: 4px !important;
        }

        .chosen-container-single .chosen-single div {
            top: 4px !important;
        }

    #PaymentBankCode_chosen {
        width: 100% !important;
    }
</style>


<script>
    $(document).ready(function () {
        $("#LandDeedReceiptDate").datepicker({
            changeMonth: false,
            changeYear: true,
            yearRange: "-100:+0"
        });
        var counter = 0;
        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><select data-rel="chosen" style="width:75%;padding: 0px 12px;" class="form-control" name="AreaType' + counter + '"><option>منزل</option><option>فيلا</option><option>محل</option></select></td>';
            cols += '<td><input type="file" name="Attachment' + counter + '"/></td>';
            cols += '<td><textarea type="text" class="form-control" rows="1" name="phone' + counter + '"></textarea></td>';
            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="حذف"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });
    });
</script>

<div>
    <ul class="breadcrumb">
        <li>
            <a onclick="return Loading();" href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a onclick="return Loading();" href="@Url.Action("Index","BuildingPermits")">تصاريح البناء</a>
        </li>
        <li>
            <a onclick="return Loading();" href="#">تصريح بناء جديد</a>
        </li>
    </ul>
</div>
<div class="col-lg-12 col-lg-12">
    <div class="row">

        @{Html.EnableClientValidation();}
        @*@{Html.EnableUnobtrusiveJavaScript();}*@
        @using (Html.BeginForm("SaveNewPermits", "BuildingPermits", FormMethod.Post, new { encType = "multipart/form-data", @id = "Permitsform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BuildingPermits.ConsultantCivilId);
            @Html.HiddenFor(m => m.BuildingPermits.ConsultantCrNo);
            <div class="row">
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label">نوع الطلب</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.ServiceName, (List<SelectListItem>)ViewBag.DDServiceType, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "ServiceType" })
                    </div>
                </div>
                <div class="form-group col-lg-12">

                    <div class="row" id="divContractorName">
                        <h5>بيانات شركة المقاولات</h5>
                        <div class="form-group col-lg-2">
                            <label class="control-label">إسم شركة المقاولات</label>
                            @Html.TextBoxFor(m => m.BuildingPermits.ContractorName, new { @class = "form-control", id = "ContractorName", @placeholder = "إسم شركة المقاولات" })
                            @*@Html.ValidationMessageFor(m => m.BuildingPermits.ContractorName, "", new { @style = "color:orange;" })*@
                        </div>
                    </div>
                    <h5>بيانات مالك الارض</h5>
                    <div class="row">
                        <div class="form-group col-lg-2">
                            <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerName)</label>
                            @Html.TextBoxFor(m => m.BuildingPermits.OwnerName, new { @class = "form-control", id = "OwnerName", @placeholder = "إسم المالك" })
                            @*@Html.ValidationMessageFor(m => m.BuildingPermits.OwnerName, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">
                                @Html.DisplayNameFor(m => m.BuildingPermits.OwnerCivilId)
                            </label>
                            @Html.TextBoxFor(m => m.BuildingPermits.OwnerCivilId, new { @class = "form-control", id = "OwnerCivilId", @placeholder = "الرقم المدني للمالك" })
                            @*@Html.ValidationMessageFor(m => m.BuildingPermits.OwnerCivilId, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">
                                @Html.DisplayNameFor(m => m.BuildingPermits.OwnerPhoneNo)
                            </label>
                            @Html.TextBoxFor(m => m.BuildingPermits.OwnerPhoneNo, new { @class = "form-control", id = "OwnerPhoneNo", @placeholder = "الهاتف" })
                            @*@Html.ValidationMessageFor(m => m.BuildingPermits.OwnerPhoneNo, "", new { @style = "color:orange;" })*@
                        </div>

                        <div class="col-lg-1">
                            <br />
                            <a id="SaveOwner" name="SaveOwner" class="btn btn-primary">
                                إضافة تفاصيل المالك
                            </a>
                            <div id="SaveOwnerLoader" class="loading col-md-1" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="divOwners" class="form-group col-lg-5">
                            @if (Model.ListOfOwners != null && Model.ListOfOwners.Count > 0)
                            {
                                Html.RenderPartial("_ListOwners", Model);
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات مكان قطعة الأرض</h5>
                    <div class="form-group col-lg-2">
                        <label class="control-label">محافظة</label>
                        <input class="form-control" placeholder="ظفار" readonly="readonly" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.WelayahID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.WelayahID, (List<SelectListItem>)ViewBag.DDWelayat, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Welayah", @name = "Welayah" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.WelayahID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.RegionID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.RegionID, new SelectList(string.Empty, "Value", "Text"), "-- اختر القرية / المنطقة --", new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Region" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.RegionID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2" id="txtSquareLetter">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.SquareLetterID)
                        </label>
                        @Html.DropDownListFor(m => m.BuildingPermits.SquareLetterID, (List<SelectListItem>)ViewBag.DDSquareLetters, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "SquareLetters" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.SquareLetterID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-3" id="txtBuildingComplex">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.BuildingComplex)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.BuildingComplex, new { @class = "form-control", id = "BuildingComplex", @placeholder = "التجمع السكني" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.BuildingComplex, "", new { @style = "color:orange;" })
                    </div>
                </div>
                <div class="form-group col-lg-12" id="landDetails">
                    <h5>بيانات قطعة الأرض</h5>
                    <div class="form-group col-lg-1" id="divDistrictNo">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DistrictNo)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.DistrictNo, new { @class = "form-control", id = "DistrictNo", @placeholder = "رقم القطعة" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.DistrictNo, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-1" id="divUnitNo">
                        <label class="control-label">رقم الوحدة</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.UnitNo, new { @class = "form-control", id = "UnitNo", @placeholder = "رقم الوحدة" })
                        @*@Html.ValidationMessageFor(m => m.BuildingPermits.DistrictNo, "", new { @style = "color:orange;" })*@
                    </div>
                    <div class="form-group col-lg-2" id="divLandArea">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LandArea)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.LandArea, new { @class = "form-control", id = "LandArea", @placeholder = "المساحة الكلية لقطعة الأرض" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandArea, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-3" id="crokiNo">
                        <label class="control-label ignor">@Html.DisplayNameFor(m => m.BuildingPermits.KrokiNO) / الرقم المسلسل 00-00-000-00-0000</label>
                        <div style="direction:ltr">
                            <input type="text" style="width: 40px; display: inline" onkeyup="moveCursor(this, KrokiNO2);" maxlength="2" class="form-control" id="KrokiNO1" placeholder="00"  />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 40px; display: inline" onkeyup="moveCursor(this, KrokiNO3);" maxlength="2" class="form-control" id="KrokiNO2" placeholder="00" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 50px; display: inline" onkeyup="moveCursor(this, KrokiNO4);" maxlength="3" class="form-control" id="KrokiNO3" placeholder="000" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 40px; display: inline" onkeyup="moveCursor(this, KrokiNO5);" maxlength="2" class="form-control" id="KrokiNO4" placeholder="00" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 55px; display: inline" onkeyup="moveCursor(this, KrokiNO);" maxlength="4" class="form-control" id="KrokiNO5" placeholder="0000" />

                            @Html.TextBoxFor(m => m.BuildingPermits.KrokiNO, new { @class = "form-control", id = "KrokiNO", @placeholder = "رقم الرسم المساحي" })
                            @Html.ValidationMessageFor(m => m.BuildingPermits.KrokiNO, "", new { @style = "color:orange;" })
                        </div>
                    </div>
                    <div class="form-group col-lg-2" id="txtLandDeedReceiptNo">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptNo)</label>
                        <div>
                            @Html.TextBoxFor(m => m.BuildingPermits.LandDeedReceiptNo, new { @class = "form-control", id = "LandDeedReceiptNo", @placeholder = "رقم ايصال سند الملكية / عقد الانتفاع" })
                            @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptNo, "", new { @style = "color:orange;" })
                        </div>
                    </div>
                    <div class="form-group col-lg-2" id="txtLandDeedReceiptDate">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptDate)</label>
                        <div>
                            @Html.TextBoxFor(m => m.BuildingPermits.LandDeedReceiptDate, new { @class = "form-control", id = "LandDeedReceiptDate", @placeholder = "تاريخ ايصال سند الملكية / عقد الانتفاع" })
                            @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptDate, "", new { @style = "color:orange;" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات ترخيص البناء</h5>
                    <div class="form-group col-lg-3" id="permitNo">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LicenseNo)</label>
                        <div style="direction:ltr">
                            <input type="text" style="width: 75px; display: inline" onkeyup="moveCursorLicenseNo(this, LicenseNo2);" maxlength="4" class="form-control" id="LicenseNo1" placeholder="السنة" />
                            <label class="control-label">/</label>
                            <input type="text" style="width: 75px; display: inline" onkeyup="moveCursorLicenseNo(this, LicenseNo);" maxlength="5" class="form-control" id="LicenseNo2" placeholder="الرقم" />

                            @Html.TextBoxFor(m => m.BuildingPermits.LicenseNo, new { @class = "form-control", id = "LicenseNo", @placeholder = "رقم الترخيص" })
                            @*@Html.ValidationMessageFor(m => m.BuildingPermits.LicenseNo, "", new { @style = "color:orange;" })*@
                        </div>
                    </div>
                    <div class="form-group col-lg-2" id="divConstructedArea">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructedArea)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.ConstructedArea, new { @class = "form-control", id = "ConstructedArea", @placeholder = "المساحة المراد تنفيذها" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.ConstructedArea, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-3" id="divLandUseTypes">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.UseTypeID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.UseTypeID, (List<SelectListItem>)ViewBag.DDLandUseTypes, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "LandUseTypes" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.UseTypeID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2" id="divBuildingTypes">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.BuildingTypeID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.BuildingTypeID, (List<SelectListItem>)ViewBag.DDBuildingTypes, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "BuildingTypes" })
                    </div>
                    <div class="form-group col-lg-2" id="divNumberOfFloors">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.NumberOfFloors)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.NumberOfFloors, new { @class = "form-control", id = "NumberOfFloors", @placeholder = "عدد الطوابق المراد تنفيذها" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.NumberOfFloors, "", new { @style = "color:orange;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <h5> المرفقات الاساسية</h5>
                    <div class="well">
                        <p>
                            <span><b style="color: #d8430a;"> لضمان جودة وسرعة التحميل وسرعة انهاء المعاملات نوصى بتحميل جميع الملفات في صيغة PDF</b></span>
                            <span><b style="color: #d8430a;"> وان يكون اسم الملفات المرفقة لا يحتوي على علامات خاصة مثل ( - ) </b></span>
                            <span><b style="color: #d8430a;">  وان تكون المستندات جميعها في وضع رأسي عند المسح (Portrait Scanning)</b></span>
                            <span><b style="color: #d8430a;">  على ان لا يزيد حجم المرفق الواحد عن 3 ميجا بايت بحد اقصى 15 ميجا بايت لجميع المرفقات مجتمعة</b></span>
                        </p>
                    </div>
                    <div class="form-group col-lg-3" id="idCardAtt">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("البطاقة الشخصية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.PersonalCard.File, new { @id = "PersonalFile", @name = "PFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.PersonalCard.File, "", new { @style = "color:orange;" })
                        </div>
                        <div class="col-lg-2">
                            <span id="PersonalFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="PersonalFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="krokiAtt">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("الرسم المساحي")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.KrokeFile.File, new { @type = "file", @id = "KrokeFile", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.KrokeFile.File, "", new { @style = "color:orange;" })
                        </div>
                        <div class="col-lg-2">
                            <span id="KrokeFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="KrokeFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="mulkiaAtt">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("الملكية / عقد الانتفاع")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.OwnerFile.File, new { @type = "file", @id = "OwnerFile", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.OwnerFile.File, "", new { @style = "color:orange;" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OwnerFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OwnerFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter01">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة الاستشاري")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "ConsLetterFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="ConsLetterFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="ConsLetterFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter02">
                        <div class="col-lg-4">
                            <label class="control-label">
                                @Html.DisplayName("تعهد المكتب الاستشاري")
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsAgreementFile.OptionalFile, new { @id = "ConsAgreementFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="ConsAgreementFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="ConsAgreementFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>

                    <div class="form-group col-lg-3" id="divOptionalLetter1">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة من الجهة الحكومية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter1", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter1Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter1Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter2">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة دائرة الخدمات الفنية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter2", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter2Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter2Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("شهادة تسوية لفاتورة الكهرباء")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter3", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter3Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter3Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter4">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("شهادة تسوية لفاتورة المياه")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter4", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter4Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter4Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter5">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة شركة الكهرباء المالكة")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter5", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter5Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter5Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter6">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة المقاول")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter6", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter6Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter6Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter7">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رخصة البناء الحالية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter7", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter7Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter7Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter8">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة من شركة الاتصالات")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter8", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter8Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter8Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter9">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("موافقة الهيئة العامة للطيران المدني")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter9", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter9Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter9Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter10">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("تقرير فني")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter10", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter10Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter10Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter11">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("علامات مساحية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter11", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter11Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter11Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter12">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة المالك او الجهة المعنية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.OptionalFile, new { @id = "OptionalLetter12", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OptionalLetter12Loader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OptionalLetter12Span" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>

                    <div class="form-group col-lg-3" id="divOptionalLetter03">
                        <div class="col-lg-4">
                            <label class="control-label">
                                @Html.DisplayName("صورة لموقع الارض")
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.LandPic.OptionalFile, new { @id = "LandPicFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="LandPicFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="LandPicFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divOptionalLetter04">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("مرفقات أخرى")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.Others.OptionalFiles, new { @id = "OthersFile", @type = "file", @multiple = "multiple", @class = "form-control", @onchange = "onchangeevent(this);" })
                        </div>
                        <div class="col-lg-2">
                            <span id="OthersFileLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </span>
                            <span id="OthersFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <h5> أضافة الخرائط</h5>

                    <div id="FileBrowse" class="form-group col-lg-10">
                        <div class="col-lg-4" style="width:20%;">
                            @Html.DropDownListFor(m => m.Attachments.AttachmentTypeId, (List<SelectListItem>)ViewBag.DDAttachmentsType, new { @class = "form-control dropdown-toggle", @style = "font-size:11px;", @id = "AttTypeId" })
                            @*@Html.ValidationMessageFor(m => m.Attachments.AttachmentTypeId, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="col-lg-4" style="width:30%;">
                            @Html.TextBoxFor(m => m.Attachments.OptionalFile, new { @type = "file", id = "MapFile", @name = "Files", @class = "form-control" })
                            @*@Html.ValidationMessageFor(m => m.Attachments.File, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="col-lg-4" style="width:35%;">
                            @Html.TextBoxFor(m => m.Attachments.Description, new { @class = "form-control", id = "FileDescription", @placeholder = "ملاحظات" })
                            @*@Html.ValidationMessageFor(m => m.Attachments.Description, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="col-lg-1" style="width:15%;">
                            <div id="divHere" style="float:left;display:none;">
                                <img src="~/Content/ezgif.com-resize.gif" style="width:25%;" />
                            </div>
                            <input type="button" id="SaveAttachment" name="SaveAttachment" class="btn btn-success" value="اضغط هنا لإضافة المرفق" />
                            <div id="divLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div id="progressbar-5">
                            <div class="progress-label">

                            </div>
                        </div>
                    </div>
                </div>

                <div id="divAttachments" class="form-group col-lg-12">
                    @if (Model.ListOfAttachments != null && Model.ListOfAttachments.Count > 0)
                    {
                        Html.RenderPartial("_ListAttachments", Model);
                    }
                </div>
            </div>
            <br />
            <button class="btn btn-primary" id="Save" type="button">
                <i class="glyphicon glyphicon-ok"></i> أرسال البيانات
            </button>
            <a style="float:left" onclick="Loading()" href="@Url.Action(Model.ShowAdd ? "Index" : "LandProjects", "BuildingPermits")" class="btn btn-primary" role="button">الصفحة السابقة</a>

        }
    </div>
</div>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
<script type="text/javascript">
    function moveCursor(fromText, toText) {
        $("#KrokiNO").mask("99-99-999-99-9999");
        var currentval = $('#' + fromText.id).val();
        var length = fromText.value.length;
        var maxLength = fromText.maxLength;
        if (length == maxLength) {
            document.getElementById(toText.id).focus();
            var krokivalue = $("#KrokiNO").val();
            if (krokivalue === '') {
                $("#KrokiNO").val(currentval);
            } else {
                $("#KrokiNO").val(krokivalue + '-' + currentval);
            }
        }
    }
    $("#KrokiNO").mask("99-99-999-99-9999");
    $("#KrokiNO").on("blur", function () {
        var last = $(this).val().substr($(this).val().indexOf("-") + 1);
        if (last.length == 2) {
            var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
            var lastfour = move + last;
            var first = $(this).val().substr(0, 2);
            $(this).val(first + '-' + lastfour);
        }
    });
    function moveCursorLicenseNo(fromText, toText) {
        $("#LicenseNo").mask("9999/99999");
        var currentval = $('#' + fromText.id).val();
        var length = fromText.value.length;
        var maxLength = fromText.maxLength;
        if (length == maxLength) {
            document.getElementById(toText.id).focus();
            var licenseNovalue = $("#LicenseNo").val();
            if (licenseNovalue === '') {
                $("#LicenseNo").val(currentval);
            } else {
                $("#LicenseNo").val(licenseNovalue + '/' + currentval);
            }
        }
    }
    $("#LicenseNo").mask("9999/99999");
    $("#LicenseNo").on("blur", function () {
        var last = $(this).val().substr($(this).val().indexOf("-") + 1);
        if (last.length == 2) {
            var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
            var lastfour = move + last;
            var first = $(this).val().substr(0, 2);
            $(this).val(first + '-' + lastfour);
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#Welayah").change(function () {
            $("#Region").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegions")', // Calling json method
                dataType: 'json',
                data: { id: $("#Welayah").val() },
                // Get Selected Welayah ID.
                success: function (regions) {
                    $.each(regions, function (i, region) {
                        $("#Region").append('<option value="' + region.Value + '">' + region.Text + '</option>');
                    });
					$("[data-rel='chosen']").trigger("chosen:updated");
                    $("#Area").empty();
                    $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAreas")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Region").val() },
                    // Get Selected Region ID.
                        success: function (areas) {

                        $.each(areas, function (i, area) {
                            $("#Area").append('<option value="' + area.Value + '">' + area.Text + '</option>');
                        });
						$("[data-rel='chosen']").trigger("chosen:updated");

                    },
                    error: function (ex) {
                        alert('Failed to retrieve areas.' + ex);
                        }
                    });
                    return false;
                },
                error: function (ex) {
                    alert('Failed to retrieve Regions.' + ex);
                }
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Region").change(function () {
            $("#Area").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAreas")', // Calling json method
                dataType: 'json',
                data: { id: $("#Region").val() },
                // Get Selected Country ID.
                success: function (areas) {
                    $.each(areas, function (i, area) {
                        $("#Area").append('<option value="' + area.Value + '">' +
                             area.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script>
    function onchangeevent(textBox) {

        var fileName = $('#' + textBox.id).val();
        $('#' + textBox.id + 'Loader').css("display", "block");
        if (fileName) { // returns true if the string is not empty
            var filesize = ($('#' + textBox.id)[0].files[0].size);
            //console.log($('#' + textBox.id)[0].files[0].size);
            let file = $('#' + textBox.id)[0].files[0];
            let fileNameOnly = file.name.split('.').slice(0, -1).join('.');
            var valid_extensions = /(\.PDF|\.pdf)$/i;
            var valid_name = /^[\u0621-\u064Aa-zA-Z\d\_\s]+$/i;
            if (valid_name.test(fileNameOnly)) {
                if (valid_extensions.test(fileName) && filesize <= 3000000) {
                    $('#' + textBox.id + 'Loader').css("display", "none");
                    $('#' + textBox.id + 'Span').find('i').switchClass("glyphicon-remove", "glyphicon-ok");
                    $('#' + textBox.id + 'Span').find('i').switchClass("red", "green");
                    $('#' + textBox.id + 'Span').css("display", "block");
                }
                else {
                    $('.modal-content').text("يجب ان يكون المرفق من نوع pdf");
                    $('#MainModal').modal('show');
                    $('#' + textBox.id + 'Span').find('i').switchClass("glyphicon-ok", "glyphicon-remove");
                    $('#' + textBox.id + 'Span').find('i').switchClass("green", "red");
                    $('#' + textBox.id + 'Span').css("display", "block");
                }
            } else {
                $('.modal-content').text("اسم الملف يحتوي على (-) يرجى تصحيح اسم الملف المرفق");
                $('#MainModal').modal('show');
                $('#' + textBox.id).focus();
                $('#' + textBox.id).select();
                $('#' + textBox.id + 'Span').find('i').switchClass("glyphicon-ok", "glyphicon-remove");
                $('#' + textBox.id + 'Span').find('i').switchClass("green", "red");
                $('#' + textBox.id + 'Span').css("display", "block");
                return;
            }
            //alert(fileName + " was selected");
        } else { // no file was selected
            Loading();
            $('#' + textBox.id + 'Span').find('i').switchClass("glyphicon-ok", "glyphicon-remove");
            $('#' + textBox.id + 'Span').find('i').switchClass("green", "red");
            $('#' + textBox.id + 'Span').css("display", "block");
            // alert("no file selected");
        }
    }
    //function ClearInputs() {
    //    $('#FileNotes').val('');
    //    $('#FileUpload').val('');
    //}
    //function OnFailure() {
    //    $('#txtMessageText').text('');
    //}
</script>
<script type="text/javascript">

    $("#LandUseTypes").change(function () {
        if ($("#LandUseTypes").val() == 7 || ($("#LandUseTypes").val() >= 49 && $("#LandUseTypes").val() <= 105)) {
            $("#divOptionalLetter1").show();
            $("#PersonalFile").rules('remove', 'required');
            $('#PersonalFile').removeAttr('required');
        }
        else {
            $("#divOptionalLetter1").hide();
            $("#PersonalFile").rules('add', 'required');
            $('#PersonalFile').attr('required', 'required');
        }
    });
    $("#ServiceType").change(function () {
        let arr1 = [2, 3, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 97];
        let arr2 = [13, 14];
        let arr3 = [16];
        let selectedVal = parseInt($('#ServiceType').val());

        if (selectedVal == 12) {
            //ترخيص بناء جديد او قائم
            resetDivs();
            $("#permitNo").hide();
            /*alert($('#ServiceType').find('option:selected').text());*/
        } else if (selectedVal == 13) {
            //هدم
            resetDivs();
            $("#divOptionalLetter4").show();
            $("#divOptionalLetter10").show();
            $("#AttTypeId option[value='5']").css("display", "none");
            $("#AttTypeId option[value='6']").css("display", "none");
            $("#AttTypeId option[value='7']").css("display", "none");
            $("#AttTypeId option[value='8']").css("display", "none");
            $("#AttTypeId option[value='9']").css("display", "none");
            $("#AttTypeId option[value='10']").css("display", "none");
            $("#AttTypeId option[value='11']").css("display", "none");
        } else if (selectedVal == 14) {
            //ترميم
            resetDivs();
            $("#permitNo").show();
            $("#txtSquareLetter").show();
            $("#divOptionalLetter12").show();
            $("#divOptionalLetter10").show();
        } else if (selectedVal == 15 || selectedVal == 24) {
            //تسوير
            resetDivs();
            $("#divOptionalLetter11").show();
            $("#divOptionalLetter01").hide();
            $("#divOptionalLetter02").hide();
            $("#permitNo").hide();
            $("#divConstructedArea").hide();
            $("#divBuildingTypes").hide();
            $("#divNumberOfFloors").hide();
            for (var i = 0; i < arr1.length; i++) {
                $("#LandUseTypes option[value='" + arr1[i] + "']").css("display", "none");
            }

            $("#AttTypeId option[value='5']").css("display", "none");
            $("#AttTypeId option[value='6']").css("display", "none");
            $("#AttTypeId option[value='7']").css("display", "none");
            $("#AttTypeId option[value='8']").css("display", "none");
            $("#AttTypeId option[value='9']").css("display", "none");
            $("#AttTypeId option[value='10']").css("display", "none");
            $("#AttTypeId option[value='11']").css("display", "none");
            $("#AttTypeId option[value='12']").css("display", "none");
        } else if (selectedVal == 16) {
            //ريفي
            resetDivs();
            $("#permitNo").hide();
            $("#crokiNo").hide();
            $("#txtLandDeedReceiptNo").hide();
            $("#txtLandDeedReceiptDate").hide();
            $("#txtSquareLetter").hide();
            $("#txtBuildingComplex").show();
            //$("#landDetails").hide();
            $("#mulkiaAtt").find('.control-label').text("رسالة بلدية الولاية");
            $("#Permitsform").data("validator").settings.ignore = ".ignore, :hidden";
            $("#LandDeedReceiptNo").rules('remove', 'required');
            $('#LandDeedReceiptNo').removeAttr('required');
            $('#LandDeedReceiptDate').rules('remove', 'required');
            $('#LandDeedReceiptDate').removeAttr('required');
            $('#KrokiNO').rules('remove', 'required');
            $('#KrokiNO').removeAttr('required');
            $('#DistrictNo').rules('remove', 'required');
            $('#DistrictNo').removeAttr('required');
            $('#LandArea').rules('remove', 'required');
            $('#LandArea').removeAttr('required');
        } else if (selectedVal == 17) {
            //محطة كهرباء
            resetDivs();
            optionalValues();
            $("#divNumberOfFloors").find('.control-label').text("الارتفاع");
            $("#divContractorName").show();
            $("#divOptionalLetter11").show();
            $("#divOptionalLetter2").show();
            $("#divOptionalLetter5").show();
            $("#divOptionalLetter6").show();
        } else if (selectedVal == 18) {
            //برج اتصالات
            resetDivs();
            //optionalValues();
            $("#divNumberOfFloors").find('.control-label').text("الارتفاع");
            $("#divContractorName").show();
            $("#divOptionalLetter11").show();
            $("#divOptionalLetter2").show();
            $("#divOptionalLetter8").show();
            $("#divOptionalLetter9").show();
            $("#divOptionalLetter6").show();
        } else if (selectedVal == 21) {
            //تعديل اضافة
            resetDivs();
        }
    });
    function optionalValues() {
        $("#LandDeedReceiptNo").rules('remove', 'required');
        $('#LandDeedReceiptNo').removeAttr('required');
        $("#PersonalFile").rules('remove', 'required');
        $('#PersonalFile').removeAttr('required');
        $("#DistrictNo").rules('remove', 'required');
        $('#DistrictNo').removeAttr('required');
        $("#LandArea").rules('remove', 'required');
        $('#LandArea').removeAttr('required');
        $("#KrokiNO").rules('remove', 'required');
        $('#KrokiNO').removeAttr('required');
        $("#LandDeedReceiptDate").rules('remove', 'required');
        $('#LandDeedReceiptDate').removeAttr('required');
        $("#ConstructedArea").rules('remove', 'required');
        $('#ConstructedArea').removeAttr('required');
        $("#NumberOfFloors").rules('remove', 'required');
        $('#NumberOfFloors').removeAttr('required');
    }
    function resetDivs() {
        $("#divNumberOfFloors").find('.control-label').text("عدد الطوابق المراد تنفيذها");
        $("#mulkiaAtt").find('.control-label').text("الملكية / عقد الانتفاع");
        $("#permitNo").show();
        $("#divDistrictNo").show();
        $("#divUnitNo").show();
        $("#divLandArea").show();
        $("#crokiNo").show();
        $("#txtLandDeedReceiptNo").show();
        $("#txtLandDeedReceiptDate").show();
        $("#divOptionalLetter01").show();
        $("#divOptionalLetter02").show();
        $("#divConstructedArea").show();
        $("#divLandUseTypes").show();
        $("#divBuildingTypes").show();
        $("#divNumberOfFloors").show();
        $("#txtSquareLetter").show();
        $("#divOptionalLetter3").show();
        $("#txtBuildingComplex").hide();
        $("#divOptionalLetter1").hide();
        $("#divOptionalLetter2").hide();
        $("#divOptionalLetter3").hide();
        $("#divOptionalLetter4").hide();
        $("#divOptionalLetter5").hide();
        $("#divOptionalLetter6").hide();
        $("#divOptionalLetter7").hide();
        $("#divOptionalLetter8").hide();
        $("#divOptionalLetter9").hide();
        $("#divOptionalLetter10").hide();
        $("#divOptionalLetter11").hide();
        $("#divOptionalLetter12").hide();
        $("#divContractorName").hide();
        $("#AttTypeId option[value='5']").css("display", "block");
        $("#AttTypeId option[value='6']").css("display", "block");
        $("#AttTypeId option[value='7']").css("display", "block");
        $("#AttTypeId option[value='8']").css("display", "block");
        $("#AttTypeId option[value='9']").css("display", "block");
        $("#AttTypeId option[value='10']").css("display", "block");
        $("#AttTypeId option[value='11']").css("display", "block");
        $("#AttTypeId option[value='12']").css("display", "block");
        $("#AttTypeId option[value='14']").css("display", "block");
        $("#LandDeedReceiptNo").rules('add', 'required');
        $('#LandDeedReceiptNo').attr('required', 'required');
        $("#PersonalFile").rules('add', 'required');
        $('#PersonalFile').attr('required', 'required');
        $("#DistrictNo").rules('add', 'required');
        $('#DistrictNo').attr('required', 'required');
        $("#LandArea").rules('add', 'required');
        $('#LandArea').attr('required', 'required');
        $("#KrokiNO").rules('add', 'required');
        $('#KrokiNO').attr('required', 'required');
        $("#LandDeedReceiptDate").rules('add', 'required');
        $('#LandDeedReceiptDate').attr('required', 'required');
        $("#ConstructedArea").rules('add', 'required');
        $('#ConstructedArea').attr('required', 'required');
        $("#NumberOfFloors").rules('add', 'required');
        $('#NumberOfFloors').attr('required', 'required');
    }

    $("#Save").click(function () {
        if ($("#OwnerName").val() != "") {
            $('.modal-content').text("برجاء حفظ المالك بالنقر على اضافة تفاصيل المالك");
            $('#MainModal').modal('show');
            $("#Welayah").focus();
            $("#Welayah").select();
            return;
        }
        if ($("#Welayah").val() == 0) {
            $('.modal-content').text("فضلا اختر ولاية");
            $('#MainModal').modal('show');
            $("#Welayah").focus();
            $("#Welayah").select();
            return;
        }
        if ($("#ServiceType").val() == 0) {
            $('.modal-content').text("فضلا اختر نوع الخدمة المطلوبة");
            $('#MainModal').modal('show');
            $("#ServiceType").focus();
            $("#ServiceType").select();
            return;
        }
        if ($("#ServiceType").val() != 16) {
            if ($("#SquareLetters").val() == 0) {
                $('.modal-content').text("فضلا اختر المربع");
                $('#MainModal').modal('show');
                $("#SquareLetters").focus();
                $("#SquareLetters").select();
                return;
            }
        }
        if ($("#LandUseTypes").val() == 0) {
            $('.modal-content').text("فضلا اختر نوع الاستعمال");
            $('#MainModal').modal('show');
            $("#LandUseTypes").focus();
            $("#LandUseTypes").select();
            return;
        }
        if ($("#ServiceType").val() != 15 || $("#ServiceType").val() != 24) {
            if ($("#BuildingTypes").val() == 0) {
                $('.modal-content').text("فضلا اختر نوع البناء");
                $('#MainModal').modal('show');
                $("#BuildingTypes").focus();
                $("#BuildingTypes").select();
                return;
            }

            if ($("#divAttachments").children().length == 0) {
                $('.modal-content').text("من فضلك قم بتحميل خرائط البناء الخاصة بالطلب ");
                $('#MainModal').modal('show');
                $("#FileBrowse").focus();
                $("#AttTypeId").select();
                return;
            }
        }
        //ignore: '.no-client-validation, :hidden'
        var validator = $('#Permitsform').validate();
        if ($('#Permitsform').valid()) {  //<<< I was missing this check
            Loading();
            $('#Permitsform').submit();
        }
        else {
            console.log(validator.errorList);
        }
    });
</script>


@*@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#Save").click(function () {
            $('#Permitsform').validate();
            if ($('#Permitsform').valid()) {  //<<< I was missing this check
                $('#Permitsform').submit();
            }
        });
    </script>*@
<script type="text/javascript">
    $(document).ready(function () {
        resetDivs();
        $("#ServiceType option[value='19']").attr("disabled", "disabled");
        $("#ServiceType option[value='20']").attr("disabled", "disabled");
        $("#ServiceType option[value='22']").attr("disabled", "disabled");
        //$("#ServiceType").change(function () {
        //    let arr1 = [2, 3, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 97];
        //    let selectedVal = parseInt($('#ServiceType').val());
        //    if (selectedVal == 15) {
        //        //تسوير
        //        for (var i = 0; i < arr1.length; i++) {
        //            $("#LandUseTypes option[value='" + arr1[i] + "']").css("display", "none");
        //        }
        //    }
        //});
        $('#SaveAttachment').attr('disabled', true);
        $("#AttTypeId option[value='0']").attr("disabled", "disabled");
        $("#MapFile").change(function () {

            var fileName = $("#MapFile").val();
            if (fileName) { // returns true if the string is not empty
                var filesize = (this.files[0].size);
                //alert(filesize);
                var valid_extensions = /(\.PDF|\.pdf)$/i;
                if (valid_extensions.test(fileName) && $("#AttTypeId").val() != "" && filesize <= 3000000) {
					//alert("فضلا اضغط على اضافة مرفق وانتظر بدء التحميل ملاحظة: حجم الملف لا يزيد عن 3 ميجا بايت");
                    $('#SaveAttachment').attr('disabled', false);
                    //$("#divHere").show();
                    //$("#divLoader").show();
                }
                else {
                    $('.modal-content').text("يجب ان يكون المرفق من نوع PDF ولا يزيد حجم الملف عن 3 ميجا بايت");
                    $('#MainModal').modal('show');
                    $("#MapFile").focus();
                    $("#MapFile").select();
				//alert("يجب ان يكون المرفق من نوع PDF ولا يزيد حجم الملف عن 3 ميجا بايت");
                    $('#SaveAttachment').attr('disabled', true);
                }
                // alert(fileName + " was selected");
            } else { // no file was selected
                $('#SaveAttachment').attr('disabled', true);
                // alert("no file selected");
            }
        });
        $("#AttTypeId").change(function () {
            var fileName = $("#MapFile").val();
            if (fileName) { // returns true if the string is not empty
                //alert(fileize);
                var valid_extensions = /(\.PDF|\.pdf)$/i;
                if (valid_extensions.test(fileName) && $("#AttTypeId").val() != "") {
                    $('#SaveAttachment').attr('disabled', false);
                }
                else {
                    $('#SaveAttachment').attr('disabled', true);
                }
                // alert(fileName + " was selected");
            } else { // no file was selected
                $('#SaveAttachment').attr('disabled', true);
                // alert("no file selected");
            }
        });
        $("#SaveAttachment").click(function () {
			//$("#divLoader").style.display = "block";
            var data = new FormData();
            var files = $("#MapFile").get(0).files;
            var attType = $('#AttTypeId');
            if (attType.val() == null || $('#AttTypeId').val() === '') {
                //console.log($('#AttTypeId').val());
                //alert("اختر اسم المرفق");
                $('.modal-content').text("اختر اسم المرفق");
                $('#MainModal').modal('show');
                $('#AttTypeId').focus();
                $('#AttTypeId').select();
                return;
            } else if (files.length > 0) {
                Loading();
                $("#divLoader").show();
            data.append("MyAttached", files[0]);
            data.append("AttTypeId", $("#AttTypeId").val());
            data.append("FileDescription", $("#FileDescription").val());
        }
        var url = "@Url.Action("SaveAttachment", "BuildingPermits")";
        $.ajax({
            url: url,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            beforeSend: function () {
                $("#divLoader").show();
                $("#progressbar-5").show();
            },

            success: function (response) {
                if (response != "") {
                    $('#FileBrowse').find("*").prop("disabled", true);
                    LoadProgressBar(response); //calling LoadProgressBar function to load the progress bar.
                }
                $('#FileDescription').val('');
                $('#AttTypeId').val('0');
                $('#MapFile').val('');
                $('#SaveAttachment').attr('disabled', true);
            },
            complete: function (data) { $("#divLoader").hide(); },
            error: function (er) {
                console.log(er.message);
                $('#SaveAttachment').attr('disabled', true);
            }
        });
        });
        function LoadProgressBar(response) {
            var progressbar = $("#progressbar-5");
            var progressLabel = $(".progress-label");
            $("#divLoader").hide();
            //$("#divHere").hide();
            //progressbar.show();
            $("#progressbar-5").progressbar({
                //value: false,
                change: function () {
                    progressLabel.text(
                        progressbar.progressbar("value") + "%");  // Showing the progress increment value in progress bar
                },
                complete: function () {
                    progressLabel.text("Loading Completed!");
                    progressbar.progressbar("value", 0);  //Reinitialize the progress bar value 0
                    progressLabel.text("");
                    progressbar.hide(); //Hiding the progress bar
					$('#divAttachments').html(response);
                    $('#FileBrowse').find("*").prop("disabled", false);
					$('#SaveAttachment').attr('disabled', true);
                }
            });
            function progress() {
                var val = progressbar.progressbar("value") || 0;
                progressbar.progressbar("value", val + 1);
                if (val < 99) {
                    setTimeout(progress, 25);
                }
            }
            setTimeout(progress, 100);
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#SaveOwner").click(function () {
            $("#SaveOwnerLoader").show();
            if ($("#OwnerCivilId").val() != "" || $("#OwnerName").val() != "" || $("#OwnerPhoneNo").val() != "") {
                var data = new FormData();
                data.append("OwnerCivilId", $("#OwnerCivilId").val());
                data.append("OwnerName", $("#OwnerName").val());
                data.append("OwnerPhoneNo", $("#OwnerPhoneNo").val());
                var url = "@Url.Action("SaveOwner", "BuildingPermits")";
                $.ajax({
                    url: url,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $('#OwnerName').val('');
                        $('#OwnerCivilId').val('');
                        $('#OwnerPhoneNo').val('');
                        $('#SaveOwner').attr('disabled', false);
                        $('#divOwners').html(response)
                        $("#SaveOwnerLoader").hide();
                    },
                    error: function (er) {
                        alert(er.message);
                        $('#SaveOwner').attr('disabled', false);
                    }
                });
            }
            else {
                $('.modal-content').text("فضلا تأكد من وجود اسم المالك و رقمه المدني و رقم الهاتف ");
                $('#MainModal').modal('show');
                $('#OwnerName').focus();
                $('#OwnerName').select();
            }
        });
        });
</script>