@model DMeServices.Models.ViewModels.Permits.PermitsViewModel
@{
    ViewBag.Title = "NewPermits";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />


<style>
    .ui-widget-header {
        background: #cedc98;
        border: 1px solid #DDDDDD;
        color: #333333;
        font-weight: bold;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 13px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }

    .red {
        color: red;
    }

    .modal-header {
        background: linear-gradient(to bottom, rgb(255 255 255) 100%, #999999 100%);
    }

    .modal-footer {
        background: linear-gradient(to bottom, rgb(255 255 255) 100%, #DDDDDD 100%);
    }

    .modal-body {
        background: linear-gradient(to bottom, rgb(255 255 255) 100%, #DDDDDD 100%);
    }

    .modal-content {
        background-color: #ffffff;
        border: 0px solid #999999;
        webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }

    .form-group {
        margin-bottom: 2px;
    }

    .table > tbody > tr > td, .table > thead > tr > td {
        padding: 4px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
    }

    .chosen-container-single .chosen-single {
        height: 37px !important;
    }

        .chosen-container-single .chosen-single span {
            margin-top: 4px !important;
        }

        .chosen-container-single .chosen-single div {
            top: 4px !important;
        }

    #PaymentBankCode_chosen {
        width: 100% !important;
    }
</style>


<script>
    $(document).ready(function () {
        $("#LandDeedReceiptDate").datepicker({
            changeMonth: false,
            changeYear: true,
            yearRange: "-100:+0"
        });
        var counter = 0;
        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><select data-rel="chosen" style="width:75%;padding: 0px 12px;" class="form-control" name="AreaType' + counter + '"><option>منزل</option><option>فيلا</option><option>محل</option></select></td>';
            cols += '<td><input type="file" name="Attachment' + counter + '"/></td>';
            cols += '<td><textarea type="text" class="form-control" rows="1" name="phone' + counter + '"></textarea></td>';
            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="حذف"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });

        function ClearInputs() {
            debugger;
            $('#FileNotes').text('');
            $('#FileUpload').text('');
        }
    });
</script>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">الرئيسية</a>
        </li>
        <li>
            <a href="@Url.Action("Index","BuildingPermits")">تصاريح البناء</a>
        </li>
        <li>
            <a href="#">تصريح بناء جديد</a>
        </li>
    </ul>
</div>
<div class="col-lg-12 col-lg-12">
    <div class="row">

        @{Html.EnableClientValidation();}
        @{Html.EnableUnobtrusiveJavaScript();}
        @using (Html.BeginForm("SaveNewPermits", "BuildingPermits", FormMethod.Post, new { encType = "multipart/form-data", @id = "Permitsform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BuildingPermits.ConsultantCivilId);
            @Html.HiddenFor(m => m.BuildingPermits.ConsultantCrNo);
            <div class="row">
                @Html.ValidationSummary(true)
                <div class="form-group col-lg-12">
                    <h5>بيانات مالك الارض</h5>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.OwnerName)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.OwnerName, new { @class = "form-control", id = "OwnerName", @placeholder = "إسم المالك" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.OwnerName, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.OwnerCivilId)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingPermits.OwnerCivilId, new { @class = "form-control", id = "OwnerCivilId", @placeholder = "الرقم المدني للمالك" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.OwnerCivilId, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.OwnerPhoneNo)
                        </label>
                        @Html.TextBoxFor(m => m.BuildingPermits.OwnerPhoneNo, new { @class = "form-control", id = "OwnerPhoneNo", @placeholder = "الهاتف" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.OwnerPhoneNo, "", new { @style = "color:orange;" })
                    </div>

                    <div class="col-lg-1">
                        <br />
                        <input type="submit" id="SaveOwner" name="SaveOwner" class="btn " value="إضافة مالك آخر" />
                    </div>

                    <div id="divOwners" class="col-lg-5">
                        @if (Model.ListOfOwners != null && Model.ListOfOwners.Count < 0)
                        {
                            Html.RenderPartial("_ListOwners", Model);
                        }
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات مكان قطعة الأرض</h5>
                    <div class="form-group col-lg-2">
                        <label class="control-label">محافظة</label>
                        <input class="form-control" placeholder="ظفار" readonly="readonly" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.WelayahID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.WelayahID, (List<SelectListItem>)ViewBag.DDWelayat, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Welayah", @name = "Welayah" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.WelayahID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.RegionID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.RegionID, new SelectList(string.Empty, "Value", "Text"), "-- اختر القرية / المنطقة --", new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "Region" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.RegionID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.BuildingPermits.SquareLetterID)
                        </label>
                        @Html.DropDownListFor(m => m.BuildingPermits.SquareLetterID, (List<SelectListItem>)ViewBag.DDSquareLetters, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "SquareLetters" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.SquareLetterID, "", new { @style = "color:orange;" })
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات قطعة الأرض</h5>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.DistrictNo)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.DistrictNo, new { @class = "form-control", id = "DistrictNo", @placeholder = "رقم القطعة" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.DistrictNo, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LandArea)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.LandArea, new { @class = "form-control", id = "LandArea", @placeholder = "المساحة الكلية لقطعة الأرض" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.LandArea, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.KrokiNO)</label>
                        <div style="direction:ltr">
                            <input type="text" style="width: 40px; display: inline" onkeyup="moveCursor(this, KrokiNO2);" maxlength="2" class="form-control" id="KrokiNO1" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 40px; display: inline" onkeyup="moveCursor(this, KrokiNO3);" maxlength="2" class="form-control" id="KrokiNO2" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 50px; display: inline" onkeyup="moveCursor(this, KrokiNO4);" maxlength="3" class="form-control" id="KrokiNO3" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 40px; display: inline" onkeyup="moveCursor(this, KrokiNO5);" maxlength="2" class="form-control" id="KrokiNO4" />
                            <label class="control-label">-</label>
                            <input type="text" style="width: 55px; display: inline" onkeyup="moveCursor(this, KrokiNO);" maxlength="4" class="form-control" id="KrokiNO5" />

                            @Html.TextBoxFor(m => m.BuildingPermits.KrokiNO, new { @class = "form-control", id = "KrokiNO", @placeholder = "رقم الكروكي" })
                            @Html.ValidationMessageFor(m => m.BuildingPermits.KrokiNO, "", new { @style = "color:orange;" })
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptNo)</label>
                        <div style="direction:ltr">
                            @Html.TextBoxFor(m => m.BuildingPermits.LandDeedReceiptNo, new { @class = "form-control", id = "LandDeedReceiptNo", @placeholder = "رقم ايصال سند الملكية" })
                            @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptNo, "", new { @style = "color:orange;" })
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LandDeedReceiptDate)</label>
                        <div style="direction:ltr">
                            @Html.TextBoxFor(m => m.BuildingPermits.LandDeedReceiptDate, new { @class = "form-control", id = "LandDeedReceiptDate", @placeholder = "تاريخ ايصال سند الملكية" })
                            @Html.ValidationMessageFor(m => m.BuildingPermits.LandDeedReceiptDate, "", new { @style = "color:orange;" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <h5>بيانات ترخيص البناء</h5>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.LicenseNo)</label>
                        <div style="direction:ltr">
                            <input type="text" style="width: 75px; display: inline" onkeyup="moveCursorLicenseNo(this, LicenseNo2);" maxlength="4" class="form-control" id="LicenseNo1" placeholder="السنة" />
                            <label class="control-label">/</label>
                            <input type="text" style="width: 75px; display: inline" onkeyup="moveCursorLicenseNo(this, LicenseNo);" maxlength="5" class="form-control" id="LicenseNo2" placeholder="الرقم" />

                            @Html.TextBoxFor(m => m.BuildingPermits.LicenseNo, new { @class = "form-control", id = "LicenseNo", @placeholder = "رقم الترخيص" })
                            @*@Html.ValidationMessageFor(m => m.BuildingPermits.LicenseNo, "", new { @style = "color:orange;" })*@
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructedArea)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.ConstructedArea, new { @class = "form-control", id = "ConstructedArea", @placeholder = "المساحة المراد بنائها" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.ConstructedArea, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.ConstructionType)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.UseTypeID, (List<SelectListItem>)ViewBag.DDLandUseTypes, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "LandUseTypes" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.UseTypeID, "", new { @style = "color:orange;" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.BuildingTypeID)</label>
                        @Html.DropDownListFor(m => m.BuildingPermits.BuildingTypeID, (List<SelectListItem>)ViewBag.DDBuildingTypes, new { style = "padding:0px", @class = "form-control", @data_rel = "chosen", id = "BuildingTypes" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label class="control-label">@Html.DisplayNameFor(m => m.BuildingPermits.NumberOfFloors)</label>
                        @Html.TextBoxFor(m => m.BuildingPermits.NumberOfFloors, new { @class = "form-control", id = "NumberOfFloors", @placeholder = "عدد الطوابق المراد بنائها" })
                        @Html.ValidationMessageFor(m => m.BuildingPermits.NumberOfFloors, "", new { @style = "color:orange;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <h5> المرفقات الاساسية</h5>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("البطاقة الشخصية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.PersonalCard.File, new { @id = "PersonalFile", @name= "PFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.PersonalCard.File, "", new { @style = "color:orange;" })
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.PersonalCard.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.PersonalCard.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="PersonalFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("الكروكي")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.KrokeFile.File, new { @type = "file", @id = "KrokeFile", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.KrokeFile.File, "", new { @style = "color:orange;" })
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.KrokeFile.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.KrokeFile.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="KrokeFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>

                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("الملكية")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.OwnerFile.File, new { @type = "file", @id = "OwnerFile", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @Html.ValidationMessageFor(m => m.OwnerFile.File, "", new { @style = "color:orange;" })
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.OwnerFile.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.OwnerFile.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="OwnerFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("رسالة الاستشاري")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsLetter.File, new { @id = "ConsLetterFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @*@Html.ValidationMessageFor(m => m.ConsLetter.File, "", new { @style = "color:orange;" })*@
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.PersonalCard.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.PersonalCard.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="ConsLetterFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">
                                @Html.DisplayName("تعهد المكتب الاستشاري")
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.ConsAgreementFile.File, new { @id = "ConsAgreementFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @*@Html.ValidationMessageFor(m => m.ConsAgreementFile.File, "", new { @style = "color:orange;" })*@
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.PersonalCard.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.PersonalCard.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="ConsAgreementFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">
                                @Html.DisplayName("صورة لموقع الارض")
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.LandPic.File, new { @id = "LandPicFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @*@Html.ValidationMessageFor(m => m.LandPic.File, "", new { @style = "color:orange;" })*@
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.PersonalCard.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.PersonalCard.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="LandPicFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="col-lg-4">
                            <label class="control-label">@Html.DisplayName("مرفقات أخرى")</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.Others.File, new { @id = "OthersFile", @type = "file", @class = "form-control", @onchange = "onchangeevent(this);" })
                            @*@Html.ValidationMessageFor(m => m.Others.File, "", new { @style = "color:orange;" })*@
                        </div>
                        @*<div class="col-lg-5" style="width:30%;">
                                @Html.TextBoxFor(m => m.PersonalCard.Description, new { @class = "form-control", @placeholder = "ملاحظات" })
                                @Html.ValidationMessageFor(m => m.PersonalCard.Description, "", new { @style = "color:orange;" })
                            </div>*@
                        <div class="col-lg-2">
                            <span id="OthersFileSpan" style="display:none"><i style="font-size: 30px" class="glyphicon glyphicon-ok green"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <h5> أضافة الخرائط</h5>

                    <div id="FileBrowse" class="form-group col-lg-8">
                        <div class="col-lg-5" style="width:20%;">
                            @Html.DropDownListFor(m => m.Attachments.AttachmentTypeId, (List<SelectListItem>)ViewBag.DDAttachmentsType, new { @class = "form-control dropdown-toggle", @style = "font-size:11px;", @id = "AttTypeId" })
                            @*@Html.ValidationMessageFor(m => m.Attachments.AttachmentTypeId, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="col-lg-5" style="width:30%;">
                            @Html.TextBoxFor(m => m.Attachments.File, new { @type = "file", id = "MapFile", @name = "Files", @class = "form-control" })
                            @*@Html.ValidationMessageFor(m => m.Attachments.File, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="col-lg-5" style="width:35%;">
                            @Html.TextBoxFor(m => m.Attachments.Description, new { @class = "form-control", id = "FileDescription", @placeholder = "ملاحظات" })
                            @*@Html.ValidationMessageFor(m => m.Attachments.Description, "", new { @style = "color:orange;" })*@
                        </div>
                        <div class="col-lg-1" style="width:15%;">
                            <div id="divHere" style="float:left;display:none;">
                                <img src="~/Content/ezgif.com-resize.gif" style="width:25%;" />
                            </div>
                            <input type="submit" id="SaveAttachment" name="SaveAttachment" class="btn btn-success" value="إضافة مرفق" />
                            <div id="divLoader" class="loading" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <div id="progressbar-5">
                            <div class="progress-label">

                            </div>
                        </div>
                    </div>
                </div>

                <div id="divAttachments" class="form-group col-lg-12">
                    @if (Model.ListOfAttachments != null && Model.ListOfAttachments.Count > 0)
                    {
                        Html.RenderPartial("_ListAttachments", Model);
                    }
                </div>
            </div>
            <br />
            <button class="btn btn-primary" id="Save" type="button">
                <i class="glyphicon glyphicon-ok"></i> أرسال البيانات
            </button>
            <a style="float:left" href="@Url.Action("Index", "BuildingPermits")" class="btn btn-primary" role="button">الصفحة السابقة</a>

        }
        <!--<button type="submit" class="btn btn-success" style="margin-top:20px;"><i class="glyphicon glyphicon-ok"></i>حفظ البيانات</button>-->
        @*<a href="Slaughter_Income.html" class="btn btn-warning pull-right" style="margin-top:20px;"><i class="glyphicon glyphicon-share-alt"></i>إلغاء</a>*@

    </div>
</div>

<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog box-inner modal-sm">

        <div class="modal-header box-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title">تحذير</h5>

        </div>
        <div class="modal-body box-content">
            <div class="modal-content">
            </div>
        </div>
        <div class="modal-footer box-footer">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">موافق</button>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
<script type="text/javascript">
    function moveCursor(fromText, toText) {
        $("#KrokiNO").mask("99-99-999-99-9999");
        var currentval = $('#' + fromText.id).val();
        var length = fromText.value.length;
        var maxLength = fromText.maxLength;
        if (length == maxLength) {
            document.getElementById(toText.id).focus();
            var krokivalue = $("#KrokiNO").val();
            if (krokivalue === '') {
                $("#KrokiNO").val(currentval);
            } else {
                $("#KrokiNO").val(krokivalue + '-' + currentval);
            }
        }
    }
    $("#KrokiNO").mask("99-99-999-99-9999");
    $("#KrokiNO").on("blur", function () {
        var last = $(this).val().substr($(this).val().indexOf("-") + 1);
        if (last.length == 2) {
            var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
            var lastfour = move + last;
            var first = $(this).val().substr(0, 2);
            $(this).val(first + '-' + lastfour);
        }
    });
    function moveCursorLicenseNo(fromText, toText) {
        $("#LicenseNo").mask("9999/99999");
        var currentval = $('#' + fromText.id).val();
        var length = fromText.value.length;
        var maxLength = fromText.maxLength;
        if (length == maxLength) {
            document.getElementById(toText.id).focus();
            var licenseNovalue = $("#LicenseNo").val();
            if (licenseNovalue === '') {
                $("#LicenseNo").val(currentval);
            } else {
                $("#LicenseNo").val(licenseNovalue + '/' + currentval);
            }
        }
    }
    $("#LicenseNo").mask("9999/99999");
    $("#LicenseNo").on("blur", function () {
        var last = $(this).val().substr($(this).val().indexOf("-") + 1);
        if (last.length == 2) {
            var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
            var lastfour = move + last;
            var first = $(this).val().substr(0, 2);
            $(this).val(first + '-' + lastfour);
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#Welayah").change(function () {
            $("#Region").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegions")', // Calling json method
                dataType: 'json',
                data: { id: $("#Welayah").val() },
                // Get Selected Welayah ID.
                success: function (regions) {
                    $.each(regions, function (i, region) {
                        $("#Region").append('<option value="' + region.Value + '">' + region.Text + '</option>');
                    });
					$("[data-rel='chosen']").trigger("chosen:updated");
                    $("#Area").empty();
                    $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAreas")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Region").val() },
                    // Get Selected Region ID.
                        success: function (areas) {

                        $.each(areas, function (i, area) {
                            $("#Area").append('<option value="' + area.Value + '">' + area.Text + '</option>');
                        });
						$("[data-rel='chosen']").trigger("chosen:updated");

                    },
                    error: function (ex) {
                        alert('Failed to retrieve areas.' + ex);
                        }
                    });
                    return false;
                },
                error: function (ex) {
                    alert('Failed to retrieve Regions.' + ex);
                }
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Region").change(function () {
            $("#Area").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAreas")', // Calling json method
                dataType: 'json',
                data: { id: $("#Region").val() },
                // Get Selected Country ID.
                success: function (areas) {
                    $.each(areas, function (i, area) {
                        $("#Area").append('<option value="' + area.Value + '">' +
                             area.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script>
    function onchangeevent(textBox) {

        var fileName = $('#' + textBox.id).val();

        if (fileName) { // returns true if the string is not empty
            var filesize = ($('#' + textBox.id)[0].files[0].size);
            //console.log($('#' + textBox.id)[0].files[0].size);

            var valid_extensions = /(\.JPG|\.JPEG|\.PDF|\.PNG|\.jpg|\.jpeg|\.pdf|\.png)$/i;
            
            if (valid_extensions.test(fileName) && filesize <= 3000000) {

                $('#' + textBox.id + 'Span').css("display", "block");
            }
            else {
                $('#' + textBox.id + 'Span').css("display", "none");
            }
            //alert(fileName + " was selected");
        } else { // no file was selected
            $('#' + textBox.id + 'Span').css("display", "none");
            // alert("no file selected");
        }
    }
    function ClearInputs() {
        $('#FileNotes').val('');
        $('#FileUpload').val('');
    }
    function OnFailure() {
        $('#txtMessageText').text('');
    }
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>


<script type="text/javascript">
    $("#Save").click(function () {
        if ($("#Welayah").val() == 0) {

            //e = $.Event('keyup');
            //e.keyCode = 1; // enter
            //$('#LandDeedReceiptNo').trigger(e);
            $('.modal-content').text("فضلا اختر ولاية");
            $('#MainModal').modal('show');
            $("#Welayah").focus();
            $("#Welayah").select();
            return;

        }
        if ($("#SquareLetters").val() == 0) {

            //e = $.Event('keyup');
            //e.keyCode = 1; // enter
            //$('#LandDeedReceiptNo').trigger(e);
            $('.modal-content').text("فضلا اختر المربع");
            $('#MainModal').modal('show');
            $("#SquareLetters").focus();
            $("#SquareLetters").select();
            return;
        }
        if ($("#LandUseTypes").val() == 0) {

            //e = $.Event('keyup');
            //e.keyCode = 1; // enter
            //$('#LandDeedReceiptNo').trigger(e);
            $('.modal-content').text("فضلا اختر نوع الاستعمال");
            $('#MainModal').modal('show');
            $("#LandUseTypes").focus();
            $("#LandUseTypes").select();
            return;
        }
        if ($("#BuildingTypes").val() == 0) {

            //e = $.Event('keyup');
            //e.keyCode = 1; // enter
            //$('#LandDeedReceiptNo').trigger(e);
            $('.modal-content').text("فضلا اختر نوع البناء");
            $('#MainModal').modal('show');
            $("#BuildingTypes").focus();
            $("#BuildingTypes").select();
            return;
        }

        var validator = $('#Permitsform').validate();

        if ($('#Permitsform').valid()) {  //<<< I was missing this check
            console.log("yes");
            $('#Permitsform').submit();
            console.log("whatisthat");
        }
        else {
            console.log(validator.errorList);
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();

        // Initalize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.

        $('body').on('click', '.modal-link', function (e) {

            $(this).attr('data-target', '#MainModal');
            e.preventDefault();
            $("iframe").attr("src", $(this).attr('href'));
            $(this).attr('data-toggle', 'modal');
        });


        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {

            $('#MainModal').modal('hide');
        });

        //clear modal cache, so that new content can be loaded
        $('#MainModal').on('hidden.bs.modal', function () {

            $(this).removeData('bs.modal');
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>
@*@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#Save").click(function () {
            $('#Permitsform').validate();
            if ($('#Permitsform').valid()) {  //<<< I was missing this check
                $('#Permitsform').submit();
            }
        });
    </script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#SaveAttachment').attr('disabled', true);
        $("#AttTypeId option[value='0']").attr("disabled", "disabled");
        $("#MapFile").change(function () {
            $("#divLoader").show();
            var fileName = $("#MapFile").val();

            if (fileName) { // returns true if the string is not empty
                var filesize = (this.files[0].size);
                alert(filesize);
                var valid_extensions = /(\.JPG|\.JPEG|\.PDF|\.PNG|\.jpg|\.jpeg|\.pdf|\.png)$/i;
                if (valid_extensions.test(fileName) && $("#AttTypeId").val() != "" && filesize <= 3000000) {
					//alert("فضلا اضغط على اضافة مرفق وانتظر بدء التحميل ملاحظة: حجم الملف لا يزيد عن 3 ميجا بايت");
                    $('#SaveAttachment').attr('disabled', false);

                    
                    $("#divHere").show();
                }
                else {
				alert("يجب ان يكون المرفق من نوع PDF ولا يزيد حجم الملف عن 3 ميجا بايت");
                    $('#SaveAttachment').attr('disabled', true);
                }
                // alert(fileName + " was selected");
            } else { // no file was selected
                $('#SaveAttachment').attr('disabled', true);
                // alert("no file selected");
            }
        });

        $("#AttTypeId").change(function () {

            var fileName = $("#MapFile").val();

            if (fileName) { // returns true if the string is not empty

                //alert(fileize);
                var valid_extensions = /(\.JPG|\.JPEG|\.PDF|\.PNG|\.jpg|\.jpeg|\.pdf|\.png)$/i;
                if (valid_extensions.test(fileName) && $("#AttTypeId").val() != "") {

                    $('#SaveAttachment').attr('disabled', false);

                }
                else {

                    $('#SaveAttachment').attr('disabled', true);
                }
                // alert(fileName + " was selected");
            } else { // no file was selected
                $('#SaveAttachment').attr('disabled', true);
                // alert("no file selected");
            }
        });

        $("#SaveAttachment").click(function () {


            
			//$("#divLoader").style.display = "block";

            var data = new FormData();
            var files = $("#MapFile").get(0).files;
            var attType = $('#AttTypeId');
            if (attType.val() == null || $('#AttTypeId').val() === '') {
                console.log($('#AttTypeId').val());
                alert("اختر اسم المرفق");
                $('#AttTypeId').focus();
                return false;
            } else if (files.length > 0) {
            data.append("MyAttached", files[0]);
            data.append("AttTypeId", $("#AttTypeId").val());
            data.append("FileDescription", $("#FileDescription").val());
        }
        var url = "@Url.Action("SaveAttachment", "BuildingPermits")";
        $.ajax({
            url: url,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            async: false,
            success: function (response) {
                if (response != "") {
                    $('#FileBrowse').find("*").prop("disabled", true);
                    LoadProgressBar(response); //calling LoadProgressBar function to load the progress bar.
                }
                $('#FileDescription').val('');
                $('#AttTypeId').val('0');
                $('#MapFile').val('');
                $('#SaveAttachment').attr('disabled', true);
            },
            error: function (er) {
                console.log(er.message);
                $('#SaveAttachment').attr('disabled', true);
            }
        });
        });

        function LoadProgressBar(response) {
            var progressbar = $("#progressbar-5");
            var progressLabel = $(".progress-label");
            $("#divLoader").hide();
            $("#divHere").hide();
            progressbar.show();
            $("#progressbar-5").progressbar({
                //value: false,
                change: function () {
                    progressLabel.text(
                        progressbar.progressbar("value") + "%");  // Showing the progress increment value in progress bar
                },
                complete: function () {
                    progressLabel.text("Loading Completed!");
                    progressbar.progressbar("value", 0);  //Reinitialize the progress bar value 0
                    progressLabel.text("");
                    progressbar.hide(); //Hiding the progress bar
					$('#divAttachments').html(response);
                    $('#FileBrowse').find("*").prop("disabled", false);
					$('#SaveAttachment').attr('disabled', true);
                }
            });
            function progress() {
                var val = progressbar.progressbar("value") || 0;
                progressbar.progressbar("value", val + 1);
                if (val < 99) {
                    setTimeout(progress, 25);
                }
            }
            setTimeout(progress, 100);
        }
    });
</script>



